<div class = "row justify-content-center" >
  <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class = "panels" >
      <div class = "titleCards" >
        <span ><i class = "fas fa-sitemap" ></i ></span > Nuevo parqueo
      </div >
      <div class = "progress" >
        <div [ngStyle] = "{'width': step * (100 / totalSteps ) + '%' }"
             aria-valuemax = "100"
             class = "progress-bar progress-bar-striped progress-bar-animated bg-primary"
             role = "progressbar" ></div >
      </div >
      <div
        id = "qbox-container" >
        <form
          [formGroup] = "newParkingForm"
          class = "needs-validation"
          id = "form-wrapper"
          method = "post"
          name = "form-wrapper"
          novalidate = "" >
          <div id = "steps-container" >
            <div *ngIf = "step == 1"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepOne" >
              <app-step-one (changeStep) = "changeStep($event)"
                            [stepOneForm] = "stepOneForm" ></app-step-one >
            </div >
            <div *ngIf = "step ==2"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepTwo" >
              <app-step-two (changeStep) = "changeStep($event)"
                            [stepTwoForm] = "stepTwoForm" ></app-step-two >
            </div >
            <div *ngIf = "step ==3"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepThree" >
              <app-step-three (changeStep) = "changeStep($event)"
                              [stepOneForm] = "stepThreeForm" ></app-step-three >
            </div >
            <div *ngIf = "step ==4 && this.settingsOptions != undefined"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepFour" >
              <app-step-four (changeStep) = "changeStep($event)"
                             [stepFourForm] = "stepFourForm" ></app-step-four >

            </div >
            <div *ngIf = "step ==5"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepFive" >
              <h6 >Configuración de antenas</h6 >
              <div class = "d-grid gap-2 d-md-flex justify-content-md-end" >
                <button class = "btn btn-success"
                        type = "button"
                        (click) = "addAntenna()" >Agregar (+)
                </button >
              </div >
              <div
                class = "container " >
                <div formArrayName = "antennas"
                     *ngFor = "let control of antennas.controls; index as i"
                     class = "row" >
                  <h4 >
                    Antena
                    <small class = "text-muted" >#{{i + 1}}</small >
                  </h4 >
                  <div [formGroupName] = "i" >
                    <div class = "row" >
                      <div class = "col-md-5 col-sm-12" >
                        <div class = "m-3 relative " >
                          <label class = "labelInput" >Tipo de acceso</label >
                          <select
                            [class.is-invalid] = "FormArrayInvalid('type_access', i)"
                            class = "inputClass"
                            formControlName = "type_access" >
                            <option *ngFor = "let access of this.accessList"
                                    value = "{{access.value}}" >{{access.accessType}}</option >
                          </select >
                          <small *ngIf = "FormArrayInvalid('type_access', i)"
                                 class = "text-danger" >* Este campo es obligatorio</small >
                        </div >
                      </div >

                      <div class = "col-md-5 col-sm-12" >
                        <div class = "m-3 relative " >
                          <label class = "labelInput" >Nombre de acceso:</label >
                          <input [class.is-invalid] = "FormArrayInvalid('name_access', i)"
                                 class = "form-control inputClass"
                                 formControlName = "name_access"
                                 placeholder = "Nombre de acceso:"
                                 type = "text" >
                          <small *ngIf = "FormArrayInvalid('name_access', i)"
                                 class = "text-danger" >* Este campo es obligatorio</small >
                        </div >
                      </div >
                    </div >
                    <div class = "row" >
                      <div class = "col-md-5 col-sm-12" >
                        <div class = "m-3 relative" >
                          <label class = "labelInput" >MAC:</label >
                          <input [class.is-invalid] = "FormArrayInvalid('mac_access', i)"
                                 class = "form-control inputClass"
                                 formControlName = "mac_access"

                                 placeholder = "MAC:"
                                 type = "text" >
                          <small *ngIf = "FormArrayInvalid('mac_access', i)"
                                 class = "text-danger" >* Este campo es obligatorio</small >
                        </div >
                      </div >
                      <div class = "col-md-5 col-sm-12" >
                        <div class = "m-3 relative" >
                          <label class = "labelInput" >Antena:</label >
                          <input [class.is-invalid] = "FormArrayInvalid('antenna_access', i)"
                                 class = "form-control inputClass"
                                 formControlName = "antenna_access"

                                 placeholder = "Antena:"
                                 type = "text" >
                          <small *ngIf = "FormArrayInvalid('antenna_access', i)"
                                 class = "text-danger" >* Este campo es obligatorio</small >
                        </div >
                      </div >
                    </div >
                  </div >
                  <hr >
                </div >
              </div >
            </div >
            <div *ngIf = "step == this.totalSteps"
                 class = "animate__animated animate__fadeInLeft"
                 id = "lastStep" >
              <div class = "titleCards" >
                Confirmación
              </div >
              <div class = "panels" >
                <h6 >Datos generales</h6 >
                <div class = "row" >
                  <div class = "col-lg-6 col-md-6 col-sm-12" >

                    <h5 >Nombre: <small class = "text-muted" >{{this.newParkingForm.controls['name'].value}}</small >
                    </h5 >
                    <h5 >Dirección:
                      <small class = "text-muted" >{{this.newParkingForm.controls['address'].value}}</small ></h5 >
                    <h5 >Número de parqueos:
                      <small class = "text-muted" >{{this.newParkingForm.controls['parking_spaces'].value}}</small >
                    </h5 >
                    <h5 >Número de parqueos
                         especiales:
                      <small class = "text-muted" >{{this.newParkingForm.controls['special_parking_spaces'].value}}</small >
                    </h5 >
                    <h5 >Tiempo para
                         salir:<small class = "text-muted" >{{this.newParkingForm.controls['minutes_to_exit'].value}}</small >
                    </h5 >
                    <h5 >Tiempo para
                         salir:<small class = "text-muted" >{{this.newParkingForm.controls['minutes_to_exit'].value}}</small >
                    </h5 >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['rules'].value}}</small ></h5 >
                  </div >
                  <div class = "col-lg-6 col-md-6 col-sm-12" >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['nit'].value}}</small >
                    </h5 >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['business_address'].value}}</small >
                    </h5 >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['business_name'].value}}</small >
                    </h5 >
                    <h5 >Metodo de pago:
                      <small class = "text-muted" >{{this.newParkingForm.controls['pay_method'].value}}</small >
                    </h5 >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['rules'].value}}</small ></h5 >
                  </div >
                </div >
              </div >
              <div class = "panels" >
                <h6 >Tabla de horarios</h6 >
                <table class = "table" >
                  <thead >
                  <tr >
                    <th scope = "col" >Día</th >
                    <th scope = "col" >Desde</th >
                    <th scope = "col" >Hasta</th >
                  </tr >
                  </thead >
                  <tbody >
                  <tr >
                    <td >Lunes</td >
                    <td >05:00 am</td >
                    <td >06:30</td >
                  </tr >
                  <tr >
                    <td >Martes</td >
                    <td >05:00 am</td >
                    <td >06:30</td >
                  </tr >
                  </tbody >
                </table >
              </div >
              <div class = "panels" >
                <h6 >Tarifas</h6 >
              </div >
            </div >
          </div >
          <div class = "text-center"
               id = "q-box__buttons" >
            <button (click) = "changeStep(-1)"
                    class = "btn btn-primary m-2"
                    id = "prev-btn"
                    type = "button" >Anterior
            </button >
            <button (click) = "changeStep(1)"
                    class = "btn btn-primary m-2"
                    id = "next-btn"
                    type = "button" >Siguiente
            </button >
            <button
              (click) = "saveParking()"
              *ngIf = "step == totalSteps"
              class = "btn btn-secondary m-2" >Registrar
            </button >
          </div >
        </form >
      </div >
    </div >
    <div id = "preloader-wrapper" >
      <div id = "preloader" ></div >
      <div class = "preloader-section section-left" ></div >
      <div class = "preloader-section section-right" ></div >
    </div >
  </div >
</div >
