<div class = "row justify-content-center" >
  <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class = "panels" >
      <div class = "titleCards" >
        <span ><i class = "fas fa-sitemap" ></i ></span > Nuevo parqueo
      </div >
      <div class = "progress" >
        <div [ngStyle] = "{'width': step * (100 / totalSteps ) + '%' }"
             aria-valuemax = "100"
             class = "progress-bar progress-bar-striped progress-bar-animated bg-primary"
             role = "progressbar" ></div >
      </div >
      <div
        id = "qbox-container" >
        <form
          [formGroup] = "newParkingForm"
          class = "needs-validation"
          id = "form-wrapper"
          method = "post"
          name = "form-wrapper"
          novalidate = "" >
          <div id = "steps-container" >
            <div *ngIf = "step == 1"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepOne" >
              <div class = "titleCards" >
                Datos generales
              </div >
              <div class = "row" >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Nombre</label >
                    <input
                      [class.is-invalid] = "controlInvalid('name')"
                      class = "form-control inputClass"
                      formControlName = "name"
                      placeholder = "NOMBRE:"
                      type = "text" >
                    <small *ngIf = "controlInvalid('name')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Dirección</label >
                    <input
                      [class.is-invalid] = "controlInvalid('address')"
                      class = "form-control inputClass"
                      formControlName = "address"
                      placeholder = "DIRECCIÓN:"
                      type = "text" >
                    <small *ngIf = "controlInvalid('address')"
                           class = "text-danger" >* Este campo es
                                                  obligatorio</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Número de parqueos</label >
                    <input [class.is-invalid] = "controlInvalid('parking_spaces')"
                           class = "form-control inputClass"
                           formControlName = "parking_spaces"
                           placeholder = "NÚMERO DE PARQUEOS:"
                           type = "number" >
                    <small *ngIf = "controlInvalid('parking_spaces')"
                           class = "text-danger" >* El valor no es válido</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >* El valor no es válido</label >
                    <input
                      [class.is-invalid] = "controlInvalid('special_parking_spaces')"
                      class = "form-control inputClass"
                      formControlName = "special_parking_spaces"
                      placeholder = "NÚMERO DE PARQUEOS ESPECIALES:"
                      type = "number" >
                    <small *ngIf = "controlInvalid('special_parking_spaces')"
                           class = "text-danger" >* El valor no es válido</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Tiempo de salida (Minutos)</label >
                    <input [class.is-invalid] = "controlInvalid('minutes_to_exit')"
                           class = "form-control inputClass"
                           formControlName = "minutes_to_exit"
                           placeholder = "TIEMPO DE SALIDA:"
                           type = "number" >
                    <small *ngIf = "controlInvalid('minutes_to_exit')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Pais</label >
                    <select
                      class = "inputClass"
                      formControlName = "country" >
                      <option *ngFor = "let country of countries"
                              [value] = "country.id" >{{country.name}}</option >
                    </select >
                  </div >
                </div >
              </div >
              <div class = "row" >
                <div class = "col-xl-12 col-lg-12  col-sm-12 " >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Reglamento Interno</label >
                    <textarea class = "form-control inputClass"
                              formControlName = "rules"
                              placeholder = "REGLAMENTO INTERNO"
                              rows = "5" >
                    </textarea >
                  </div >
                </div >
              </div >
              <div class = "row col-xl-12 col-lg-12 col-sm-12" >
                <ul class = "opcionActivo " >
                  <li ><input formControlName = "is_show_map"
                              id = "is_show_map"
                              type = "checkbox"
                              value = "is_show_map" ><label for = "is_show_map" >Ubicar en el mapa</label ></li >
                </ul >
              </div >
              <div class = "row col-xl-12 col-lg-12 col-sm-12 " >
                <div *ngIf = "newParkingForm.controls['is_show_map'].value"
                     class = "animate__animated animate__fadeIn" >
                  <google-map (mapClick) = "addMapMark($event)"
                              [center] = "coords"
                              height = "500"
                              width = "100%" >
                    <map-marker
                      [position] = "coordsMark" ></map-marker >
                  </google-map >
                </div >
              </div >
            </div >
            <div *ngIf = "step ==2"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepTwo" >
              <div class = "titleCards" >
                Horario
              </div >
              <div class = "row" >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input
                        formControlName = "isOpen0"
                        id = "lunes"
                        type = "checkbox"
                        value = "lunes" ><label
                        for = "lunes" >Lunes</label ></li >
                    </ul >
                    <div
                      class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "openning_time0"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time0"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen1"
                                  id = "Martes"
                                  type = "checkbox"
                                  value = "Martes" ><label for = "Martes" >Martes</label ></li >
                    </ul >
                    <div
                      class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "openning_time1"
                             name = "mini"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time1"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen2"
                                  id = "Miercoles"
                                  type = "checkbox"
                                  value = "Miercoles" ><label
                        for = "Miercoles" >Miércoles</label ></li >
                    </ul >
                    <div
                      class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "openning_time2"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time2"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen3"
                                  id = "Jueves"
                                  type = "checkbox"
                                  value = "Jueves" ><label for = "Jueves" >Jueves</label ></li >
                    </ul >
                    <div
                      class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "openning_time3"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time3"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen4"
                                  id = "Viernes"
                                  type = "checkbox"
                                  value = "Viernes" ><label for = "Viernes" >Viernes</label ></li >
                    </ul >
                    <div
                      class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "openning_time4"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time4"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen5"
                                  id = "Sabado"
                                  type = "checkbox"
                                  value = "Sabado" ><label for = "Sabado" >Sábado</label ></li >
                    </ul >
                    <div
                      class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "openning_time5"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time5"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo" >
                      <li ><input formControlName = "isOpen6"
                                  id = "Domingo"
                                  type = "checkbox"
                                  value = "Domingo" ><label for = "Domingo" >Domingo
                      </label ></li >
                    </ul >
                    <div
                      class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "openning_time6"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time6"
                             type = "time" >
                    </div >
                  </div >
                </div >
              </div >
            </div >
            <div *ngIf = "step ==3"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepThree" >
              <div class = "titleCards" >
                Tarifa
              </div >
              <div class = "row" >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Tipo de tarifa</label >
                    <select class = "inputClass"
                            name = "" >
                      <option value = "" >TIPO DE TARIFA</option >
                      <option value = "" >Hora / fracción</option >
                      <option value = "" >Bloque</option >
                      <option value = "" >Mixta</option >
                    </select >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <textarea class = "form-control inputClass"
                              placeholder = "REGLAMENTO INTERNO"
                              rows = "4" ></textarea >
                  </div >
                </div >
                <div class = "row d-none" >
                  <div class = "col-xl-6 col-lg-6 col-md-6 col-sm-12" >
                    <div class = "mb-4 relative" >
                      <label class = "labelInput" >Hora</label >
                      <input class = "form-control inputClass"
                             placeholder = "HORA:"
                             type = "text" >
                    </div >
                  </div >
                  <div class = "col-xl-6 col-lg-6 col-md-6 col-sm-12" >
                    <div class = "mb-4 relative" >
                      <label class = "labelInput" >Fracción</label >
                      <input class = "form-control inputClass"
                             placeholder = "FRACCIÓN:"
                             type = "text" >
                    </div >
                  </div >
                </div >
                <table class = "table d-none" >
                  <hr />
                  <tbody >
                  <tr >
                    <th scope = "row" >1</th >
                    <td >
                      <div class = "row" >
                        <div class = "col-xl-4 col-lg-6 col-md-6 col-sm-12" >
                          <div class = " relative" >
                            <label class = "labelInput" >Inicio</label >
                            <input class = "form-control inputClass"
                                   placeholder = "INICIO:"
                                   type = "text" >
                          </div >
                          <div class = "mb-4 relative" >
                            <label class = "labelInput" >Tipo de tarifa</label >
                            <select class = "inputClass"
                                    name = "" >
                              <option value = "" >Seleccione</option >
                              <option value = "" >Hora</option >
                              <option value = "" >Minutos</option >
                            </select >
                          </div >
                        </div >
                        <div class = "col-xl-4 col-lg-6 col-md-6 col-sm-12" >
                          <div class = " relative" >
                            <label class = "labelInput" >Fin</label >
                            <input class = "form-control inputClass"
                                   placeholder = "FIN:"
                                   type = "text" >
                          </div >
                          <div class = "mb-4 relative" >
                            <label class = "labelInput" >Tipo de tarifa</label >
                            <select class = "inputClass"
                                    id = ""
                                    name = "" >
                              <option value = "" >Seleccione</option >
                              <option value = "" >Hora</option >
                              <option value = "" >Minutos</option >
                            </select >
                          </div >
                        </div >
                        <div class = "col-xl-4 col-lg-6 col-md-6 col-sm-12" >
                          <div class = " relative" >
                            <label class = "labelInput" >Precio</label >
                            <input class = "form-control inputClass"
                                   placeholder = "PRECIO:"
                                   type = "text" >
                          </div >
                          <div class = "mb-4 relative" >
                            <button class = "btn btn-primary" >Agregar bloque</button >
                          </div >
                        </div >
                      </div >
                    </td >
                  </tr >
                  </tbody >
                </table >
              </div >
            </div >
            <div *ngIf = "step ==4"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepFour" >
              <h6 >Facturación</h6 >
              <div class = "row" >
                <div class = " col-md-6 col-sm-12" >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >Nombre:</label >
                    <input [class.is-invalid] = "controlInvalid('business_name')"
                           class = "form-control inputClass"
                           formControlName = "business_name"
                           placeholder = "Nombre:"
                           type = "text" >
                    <small *ngIf = "controlInvalid('business_name')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >NIT</label >
                    <input [class.is-invalid] = "controlInvalid('nit')"
                           class = "form-control inputClass"
                           formControlName = "nit"
                           placeholder = "NIT:"
                           type = "number" >
                    <small *ngIf = "controlInvalid('nit')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
                <div class = " col-md-6 col-sm-12" >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >Dirección</label >
                    <input [class.is-invalid] = "controlInvalid('business_address')"
                           class = "form-control inputClass"
                           formControlName = "business_address"
                           placeholder = "Dirección:"
                           type = "text" >
                    <small *ngIf = "controlInvalid('business_address')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >Método de pago</label >
                    <select
                      [class.is-invalid] = "controlInvalid('pay_method')"
                      class = "inputClass"
                      formControlName = "pay_method" >
                      <option *ngFor = "let option of settingsOptions.paymentMethods"
                              value = "{{option.id}}" >{{option.description}}</option >

                    </select >
                    <small *ngIf = "controlInvalid('pay_method')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
                <div class = " col-md-6 col-sm-12" >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >Moneda</label >
                    <select [class.is-invalid] = "controlInvalid('currency')"
                            class = "inputClass"
                            formControlName = "currency" >
                      <option *ngFor = "let option of settingsOptions.currencyOptions"
                              value = "{{option.id}}" >{{option.description}}</option >
                    </select >
                    <small *ngIf = "controlInvalid('currency')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >

                <div class = "row mt-3" >
                  <div class = " col-md-6 col-sm-12" >
                    <div class = "row col-xl-12 col-lg-12 col-sm-12" >
                      <ul class = "opcionActivo " >
                        <li ><input formControlName = "is_our_visa_credential"
                                    id = "is_our_visa_credential"
                                    type = "checkbox"
                                    value = "is_show_map" ><label for = "is_our_visa_credential" >Credenciales
                                                                                                  Visa</label ></li >
                      </ul >
                    </div >
                  </div >
                  <div class = " col-md-6 col-sm-12" >
                    <div class = "row col-xl-12 col-lg-12 col-sm-12" >
                      <ul class = "opcionActivo " >
                        <li ><input formControlName = "is_our_bac_credential"
                                    id = "is_our_bac_credential"
                                    type = "checkbox"
                                    value = "is_show_map" ><label for = "is_our_bac_credential" >Credenciales
                                                                                                 BAC</label ></li >
                      </ul >
                    </div >
                  </div >
                </div >
                <div class = "row" >
                  <div
                    id = "visaCredential"
                    class = " col-md-6 col-sm-12" >
                    <div *ngIf = "newParkingForm.controls['is_our_visa_credential'].value"
                         class = "animate__animated animate__fadeInLeft" >
                      <div class = "m-3 relative" >
                        <label class = "labelInput" >ID Comerciante</label >
                        <input [class.is-invalid] = "controlInvalid('merchant_id_visa')"
                               class = "form-control inputClass"
                               formControlName = "merchant_id_visa"
                               placeholder = "ID Mercante"
                               type = "text" >
                        <small *ngIf = "controlInvalid('merchant_id_visa')"
                               class = "text-danger" >* Este campo es obligatorio</small >
                      </div >
                      <div class = "m-3 relative" >
                        <label class = "labelInput" >Llave de transacción</label >
                        <input [class.is-invalid] = "controlInvalid('transaction_key_visa')"
                               class = "form-control inputClass"
                               formControlName = "transaction_key_visa"
                               placeholder = "Llave de transacción:"
                               type = "text" >
                        <small *ngIf = "controlInvalid('transaction_key_visa')"
                               class = "text-danger" >* Este campo es obligatorio</small >
                      </div >
                      <div class = "m-3 relative" >
                        <label class = "labelInput" >URL</label >
                        <input [class.is-invalid] = "controlInvalid('url_visa')"
                               class = "form-control inputClass"
                               formControlName = "url_visa"
                               placeholder = "URL:"
                               type = "text" >
                        <small *ngIf = "controlInvalid('url_visa')"
                               class = "text-danger" >* Este campo es obligatorio</small >
                      </div >
                    </div >
                  </div >
                  <div *ngIf = "newParkingForm.controls['is_our_bac_credential'].value "
                       id = "BacCredential"
                       class = " col-md-6 col-sm-12 animate__animated animate__fadeInLeft" >
                    <div class = "m-3 relative" >
                      <label class = "labelInput" >ID Comerciante</label >
                      <input [class.is-invalid] = "controlInvalid('merchant_id_bac')"
                             class = "form-control inputClass"
                             formControlName = "merchant_id_bac"
                             placeholder = "ID Comerciante:"
                             type = "text" >
                      <small *ngIf = "controlInvalid('merchant_id_bac')"
                             class = "text-danger" >* Este campo es obligatorio</small >
                    </div >
                    <div class = "m-3 relative" >
                      <label class = "labelInput" >ID Proveedor</label >
                      <input [class.is-invalid] = "controlInvalid('acquirer_id_bac')"
                             class = "form-control inputClass"
                             formControlName = "acquirer_id_bac"
                             placeholder = "ID Proveedor"
                             type = "text" >
                      <small *ngIf = "controlInvalid('acquirer_id_bac')"
                             class = "text-danger" >* Este campo es obligatorio</small >
                    </div >
                    <div class = "m-3 relative" >
                      <label class = "labelInput" >Moneda</label >
                      <select [class.is-invalid] = "controlInvalid('purchase_currency_bac')"
                              class = "inputClass"
                              formControlName = "purchase_currency_bac" >
                        <option *ngFor = "let option of settingsOptions.currencyOptions"
                                value = "{{option.id}}" >{{option.description}}</option >
                      </select >
                      <small *ngIf = "controlInvalid('purchase_currency_bac')"
                             class = "text-danger" >* Este campo es obligatorio</small >
                    </div >
                    <div class = "m-3 relative" >
                      <label class = "labelInput" >PMTNPSSW</label >
                      <input [class.is-invalid] = "controlInvalid('pmtnpssw_bac')"
                             class = "form-control inputClass"
                             formControlName = "pmtnpssw_bac"
                             placeholder = "PMTNPSSW:"
                             type = "text" >
                      <small *ngIf = "controlInvalid('pmtnpssw_bac')"
                             class = "text-danger" >* Este campo es obligatorio</small >
                    </div >
                    <div class = "m-3 relative" >
                      <label class = "labelInput" >URL</label >
                      <input [class.is-invalid] = "controlInvalid('url_bac')"
                             class = "form-control inputClass"
                             formControlName = "url_bac"
                             placeholder = "URL:"
                             type = "text" >
                      <small *ngIf = "controlInvalid('url_bac')"
                             class = "text-danger" >* Este campo es obligatorio</small >
                    </div >
                  </div >
                </div >
              </div >

            </div >
            <div *ngIf = "step ==5"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepFive" >
              <h6 >Configuración de antenas</h6 >
              <div class = "d-grid gap-2 d-md-flex justify-content-md-end" >
                <button class = "btn btn-success"
                        type = "button"
                        (click) = "addAntenna()" >Agregar (+)
                </button >
              </div >
              <div
                class = "container " >
                <div formArrayName = "antennas"
                     *ngFor = "let control of antennas.controls; index as i"
                     class = "row" >
                  <h4 >
                    Antena
                    <small class = "text-muted" >#{{i + 1}}</small >
                  </h4 >
                  <div [formGroupName] = "i" >
                    <div class = "row" >
                      <div class = "col-md-5 col-sm-12" >
                        <div class = "m-3 relative " >
                          <label class = "labelInput" >Tipo de acceso</label >
                          <select
                            [class.is-invalid] = "controlInvalid('type_access')"
                            class = "inputClass"
                            formControlName = "type_access" >
                            <option *ngFor = "let access of this.accessList"
                                    value = "{{access.value}}" >{{access.accessType}}</option >
                          </select >
                          <small *ngIf = "controlInvalid('type_access')"
                                 class = "text-danger" >* Este campo es obligatorio</small >
                        </div >
                      </div >

                      <div class = "col-md-5 col-sm-12" >
                        <div class = "m-3 relative " >
                          <label class = "labelInput" >Nombre de acceso:</label >
                          <input [class.is-invalid] = "controlInvalid('name_access')"
                                 class = "form-control inputClass"
                                 formControlName = "name_access"

                                 placeholder = "Nombre de acceso:"
                                 type = "text" >
                          <small *ngIf = "controlInvalid('name_access')"
                                 class = "text-danger" >* Este campo es obligatorio</small >
                        </div >
                      </div >
                    </div >
                    <div class = "row" >
                      <div class = "col-md-5 col-sm-12" >
                        <div class = "m-3 relative" >
                          <label class = "labelInput" >MAC:</label >
                          <input [class.is-invalid] = "controlInvalid('mac_access')"
                                 class = "form-control inputClass"
                                 formControlName = "mac_access"

                                 placeholder = "MAC:"
                                 type = "text" >
                          <small *ngIf = "controlInvalid('mac_access')"
                                 class = "text-danger" >* Este campo es obligatorio</small >
                        </div >
                      </div >
                      <div class = "col-md-5 col-sm-12" >
                        <div class = "m-3 relative" >
                          <label class = "labelInput" >Antena:</label >
                          <input [class.is-invalid] = "controlInvalid('antenna_access')"
                                 class = "form-control inputClass"
                                 formControlName = "antenna_access"

                                 placeholder = "Antena:"
                                 type = "text" >
                          <small *ngIf = "controlInvalid('antenna_access')"
                                 class = "text-danger" >* Este campo es obligatorio</small >
                        </div >
                      </div >
                    </div >
                  </div >
                  <hr >
                </div >
              </div >
            </div >
            <div *ngIf = "step == this.totalSteps"
                 class = "animate__animated animate__fadeInLeft"
                 id = "lastStep" >
              <div class = "titleCards" >
                Confirmación
              </div >
              <div class = "panels" >
                <h6 >Datos generales</h6 >
                <div class = "row" >
                  <div class = "col-lg-6 col-md-6 col-sm-12" >

                    <h5 >Nombre: <small class = "text-muted" >{{this.newParkingForm.controls['name'].value}}</small >
                    </h5 >
                    <h5 >Dirección:
                      <small class = "text-muted" >{{this.newParkingForm.controls['address'].value}}</small ></h5 >
                    <h5 >Número de parqueos:
                      <small class = "text-muted" >{{this.newParkingForm.controls['parking_spaces'].value}}</small >
                    </h5 >
                    <h5 >Número de parqueos
                         especiales:
                      <small class = "text-muted" >{{this.newParkingForm.controls['special_parking_spaces'].value}}</small >
                    </h5 >
                    <h5 >Tiempo para
                         salir:<small class = "text-muted" >{{this.newParkingForm.controls['minutes_to_exit'].value}}</small >
                    </h5 >
                    <h5 >Tiempo para
                         salir:<small class = "text-muted" >{{this.newParkingForm.controls['minutes_to_exit'].value}}</small >
                    </h5 >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['rules'].value}}</small ></h5 >
                  </div >
                  <div class = "col-lg-6 col-md-6 col-sm-12" >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['nit'].value}}</small >
                    </h5 >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['business_address'].value}}</small >
                    </h5 >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['business_name'].value}}</small >
                    </h5 >
                    <h5 >Metodo de pago:
                      <small class = "text-muted" >{{this.newParkingForm.controls['pay_method'].value}}</small >
                    </h5 >
                    <h5 >Reglamento:
                      <small class = "text-muted" >{{this.newParkingForm.controls['rules'].value}}</small ></h5 >
                  </div >
                </div >
              </div >
              <div class = "panels" >
                <h6 >Tabla de horarios</h6 >
                <table class = "table" >
                  <thead >
                  <tr >
                    <th scope = "col" >Día</th >
                    <th scope = "col" >Desde</th >
                    <th scope = "col" >Hasta</th >
                  </tr >
                  </thead >
                  <tbody >
                  <tr >
                    <td >Lunes</td >
                    <td >05:00 am</td >
                    <td >06:30</td >
                  </tr >
                  <tr >
                    <td >Martes</td >
                    <td >05:00 am</td >
                    <td >06:30</td >
                  </tr >
                  </tbody >
                </table >
              </div >
              <div class = "panels" >
                <h6 >Tarifas</h6 >
              </div >
            </div >
          </div >
          <div class = "text-center"
               id = "q-box__buttons" >
            <button (click) = "changeStep(-1)"
                    class = "btn btn-primary m-2"
                    id = "prev-btn"
                    type = "button" >Anterior
            </button >
            <button (click) = "changeStep(1)"
                    class = "btn btn-primary m-2"
                    id = "next-btn"
                    type = "button" >Siguiente
            </button >
            <button
              (click) = "saveParking()"
              *ngIf = "step == totalSteps"
              class = "btn btn-secondary m-2" >Registrar
            </button >
          </div >
        </form >
      </div >
    </div >
    <div id = "preloader-wrapper" >
      <div id = "preloader" ></div >
      <div class = "preloader-section section-left" ></div >
      <div class = "preloader-section section-right" ></div >
    </div >
  </div >
</div >
