<div class = "row justify-content-center" >
  <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class = "panels" >
      <div class = "titleCards" >
        <span ><i class = "fas fa-sitemap" ></i ></span > Nuevo parqueo
      </div >
      <div class = "progress" >
        <div [ngStyle] = "{'width': step * (100 / totalSteps ) + '%' }"
             aria-valuemax = "100"
             class = "progress-bar progress-bar-striped progress-bar-animated bg-primary"
             role = "progressbar" ></div >
      </div >
      <div
        id = "qbox-container" >
        <form
          [formGroup] = "newParkingForm"
          class = "needs-validation"
          id = "form-wrapper"
          method = "post"
          name = "form-wrapper"
          novalidate = "" >
          <div id = "steps-container" >
            <div *ngIf = "step == 1"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepOne" >
              <div class = "titleCards" >
                Datos generales
              </div >
              <div class = "row" >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Nombre</label >
                    <input
                      [class.is-invalid] = "controlInvalid('name')"
                      class = "form-control inputClass"
                      formControlName = "name"
                      placeholder = "NOMBRE:"
                      type = "text" >
                    <small *ngIf = "controlInvalid('name')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Dirección</label >
                    <input
                      [class.is-invalid] = "controlInvalid('address')"
                      class = "form-control inputClass"
                      formControlName = "address"
                      placeholder = "DIRECCIÓN:"
                      type = "text" >
                    <small *ngIf = "controlInvalid('address')"
                           class = "text-danger" >* Este campo es
                                                  obligatorio</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Número de parqueos</label >
                    <input [class.is-invalid] = "controlInvalid('parking_spaces')"
                           class = "form-control inputClass"
                           formControlName = "parking_spaces"
                           placeholder = "NÚMERO DE PARQUEOS:"
                           type = "number" >
                    <small *ngIf = "controlInvalid('parking_spaces')"
                           class = "text-danger" >* El valor no es válido</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >* El valor no es válido</label >
                    <input
                      [class.is-invalid] = "controlInvalid('special_parking_spaces')"
                      class = "form-control inputClass"
                      formControlName = "special_parking_spaces"
                      placeholder = "NÚMERO DE PARQUEOS ESPECIALES:"
                      type = "number" >
                    <small *ngIf = "controlInvalid('special_parking_spaces')"
                           class = "text-danger" >* El valor no es válido</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Tiempo de salida (Minutos)</label >
                    <input [class.is-invalid] = "controlInvalid('minutes_to_exit')"
                           class = "form-control inputClass"
                           formControlName = "minutes_to_exit"
                           placeholder = "TIEMPO DE SALIDA:"
                           type = "number" >
                    <small *ngIf = "controlInvalid('minutes_to_exit')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Pais</label >
                    <select
                      class = "inputClass"
                      formControlName = "country" >
                      <option *ngFor = "let country of countries"
                              [value] = "country.id" >{{country.name}}</option >
                    </select >
                  </div >
                </div >
              </div >
              <div class = "row" >
                <div class = "col-xl-12 col-lg-12  col-sm-12 " >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Reglamento Interno</label >
                    <textarea class = "form-control inputClass"
                              formControlName = "rules"
                              placeholder = "REGLAMENTO INTERNO"
                              rows = "5" >
                    </textarea >
                  </div >
                </div >
              </div >
              <div class = "row col-xl-12 col-lg-12 col-sm-12" >
                <ul class = "opcionActivo " >
                  <li ><input formControlName = "is_show_map"
                              id = "is_show_map"
                              type = "checkbox"
                              value = "is_show_map" ><label for = "is_show_map" >Ubicar en el mapa</label ></li >
                </ul >
              </div >
              <div class = "row col-xl-12 col-lg-12 col-sm-12 " >
                <div *ngIf = "newParkingForm.controls['is_show_map'].value"
                     class = "animate__animated animate__fadeIn" >
                  <google-map (mapClick) = "addMapMark($event)"
                              [center] = "coords"
                              height = "500"
                              width = "100%" >
                    <map-marker
                      [position] = "coordsMark" ></map-marker >
                  </google-map >

                </div >
              </div >
            </div >
            <div *ngIf = "step ==2"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepTwo" >
              <div class = "titleCards" >
                Horario
              </div >
              <div class = "row" >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen0"
                                  id = "lunes"
                                  type = "checkbox"
                                  value = "lunes" ><label for = "lunes" >Lunes</label ></li >
                    </ul >
                    <div *ngIf = "newParkingForm.controls['isOpen0'].value"
                         class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "opening_time0"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time0"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen1"
                                  id = "Martes"
                                  type = "checkbox"
                                  value = "Martes" ><label for = "Martes" >Martes</label ></li >
                    </ul >
                    <div *ngIf = "newParkingForm.controls['isOpen1'].value"
                         class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "opening_time1"
                             name = "mini"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time1"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen2"
                                  id = "Miercoles"
                                  type = "checkbox"
                                  value = "Miercoles" ><label
                        for = "Miercoles" >Miércoles</label ></li >
                    </ul >
                    <div *ngIf = "newParkingForm.controls['isOpen2'].value"
                         class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "opening_time2"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time2"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen3"
                                  id = "Jueves"
                                  type = "checkbox"
                                  value = "Jueves" ><label for = "Jueves" >Jueves</label ></li >
                    </ul >
                    <div *ngIf = "newParkingForm.controls['isOpen3'].value"
                         class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "opening_time3"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time3"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen4"
                                  id = "Viernes"
                                  type = "checkbox"
                                  value = "Viernes" ><label for = "Viernes" >Viernes</label ></li >
                    </ul >
                    <div *ngIf = "newParkingForm.controls['isOpen4'].value"
                         class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "opening_time4"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time4"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen5"
                                  id = "Sabado"
                                  type = "checkbox"
                                  value = "Sabado" ><label for = "Sabado" >Sábado</label ></li >
                    </ul >
                    <div *ngIf = "newParkingForm.controls['isOpen5'].value"
                         class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "opening_time5"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time5"
                             type = "time" >
                    </div >
                  </div >
                </div >
                <div class = "col-xl-3 col-lg-4 col-md-6 col-sm-12" >
                  <div class = "panels" >
                    <ul class = "opcionActivo " >
                      <li ><input formControlName = "isOpen6"
                                  id = "Domingo"
                                  type = "checkbox"
                                  value = "Domingo" ><label for = "Domingo" >Domingo
                      </label ></li >
                    </ul >
                    <div *ngIf = "newParkingForm.controls['isOpen6'].value"
                         class = "animate__animated animate__fadeInDown" >
                      Hora inicio
                      <input class = "form-control inputClass"
                             formControlName = "opening_time6"
                             type = "time" >
                      <hr >
                      Hora fin
                      <input class = "form-control inputClass"
                             formControlName = "closing_time6"
                             type = "time" >
                    </div >
                  </div >
                </div >
              </div >
            </div >
            <div *ngIf = "step ==3"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepThree" >
              <div class = "titleCards" >
                Tarifa
              </div >
              <div class = "row" >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <label class = "labelInput" >Tipo de tarifa</label >
                    <select class = "inputClass"
                            name = "" >
                      <option value = "" >TIPO DE TARIFA</option >
                      <option value = "" >Hora / fracción</option >
                      <option value = "" >Bloque</option >
                      <option value = "" >Mixta</option >
                    </select >
                  </div >
                </div >
                <div class = "col-xl-6 col-lg-6  col-sm-12" >
                  <div class = "mb-4 relative" >
                    <textarea class = "form-control inputClass"
                              placeholder = "REGLAMENTO INTERNO"
                              rows = "4" ></textarea >
                  </div >
                </div >
                <div class = "row d-none" >
                  <div class = "col-xl-6 col-lg-6 col-md-6 col-sm-12" >
                    <div class = "mb-4 relative" >
                      <label class = "labelInput" >Hora</label >
                      <input class = "form-control inputClass"
                             placeholder = "HORA:"
                             type = "text" >
                    </div >
                  </div >
                  <div class = "col-xl-6 col-lg-6 col-md-6 col-sm-12" >
                    <div class = "mb-4 relative" >
                      <label class = "labelInput" >Fracción</label >
                      <input class = "form-control inputClass"
                             placeholder = "FRACCIÓN:"
                             type = "text" >
                    </div >
                  </div >
                </div >
                <table class = "table d-none" >
                  <hr />
                  <tbody >
                  <tr >
                    <th scope = "row" >1</th >
                    <td >
                      <div class = "row" >
                        <div class = "col-xl-4 col-lg-6 col-md-6 col-sm-12" >
                          <div class = " relative" >
                            <label class = "labelInput" >Inicio</label >
                            <input class = "form-control inputClass"
                                   placeholder = "INICIO:"
                                   type = "text" >
                          </div >
                          <div class = "mb-4 relative" >
                            <label class = "labelInput" >Tipo de tarifa</label >
                            <select class = "inputClass"
                                    name = "" >
                              <option value = "" >Seleccione</option >
                              <option value = "" >Hora</option >
                              <option value = "" >Minutos</option >
                            </select >
                          </div >
                        </div >
                        <div class = "col-xl-4 col-lg-6 col-md-6 col-sm-12" >
                          <div class = " relative" >
                            <label class = "labelInput" >Fin</label >
                            <input class = "form-control inputClass"
                                   placeholder = "FIN:"
                                   type = "text" >
                          </div >
                          <div class = "mb-4 relative" >
                            <label class = "labelInput" >Tipo de tarifa</label >
                            <select class = "inputClass"
                                    id = ""
                                    name = "" >
                              <option value = "" >Seleccione</option >
                              <option value = "" >Hora</option >
                              <option value = "" >Minutos</option >
                            </select >
                          </div >
                        </div >
                        <div class = "col-xl-4 col-lg-6 col-md-6 col-sm-12" >
                          <div class = " relative" >
                            <label class = "labelInput" >Precio</label >
                            <input class = "form-control inputClass"
                                   placeholder = "PRECIO:"
                                   type = "text" >
                          </div >
                          <div class = "mb-4 relative" >
                            <button class = "btn btn-primary" >Agregar bloque</button >
                          </div >
                        </div >
                      </div >
                    </td >
                  </tr >
                  </tbody >
                </table >
              </div >
            </div >
            <div *ngIf = "step ==4"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepFour" >
              <h6 >Facturación</h6 >
              <div class = "row" >
                <div class = " col-md-6 col-sm-12" >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >Nombre:</label >
                    <input [class.is-invalid] = "controlInvalid('business_name')"
                           class = "form-control inputClass"
                           formControlName = "business_name"
                           placeholder = "Nombre:"
                           type = "text" >
                    <small *ngIf = "controlInvalid('business_name')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >NIT</label >
                    <input [class.is-invalid] = "controlInvalid('nit')"
                           class = "form-control inputClass"
                           formControlName = "nit"
                           placeholder = "NIT:"
                           type = "number" >
                    <small *ngIf = "controlInvalid('nit')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
                <div class = " col-md-6 col-sm-12" >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >Dirección</label >
                    <input [class.is-invalid] = "controlInvalid('business_address')"
                           class = "form-control inputClass"
                           formControlName = "business_address"
                           placeholder = "Dirección:"
                           type = "text" >
                    <small *ngIf = "controlInvalid('business_address')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >Método de pago</label >
                    <select
                      [class.is-invalid] = "controlInvalid('pay_method')"
                      class = "inputClass"
                      formControlName = "pay_method" >
                      <option value = "0" >Tarjeta</option >
                      <option value = "1" >Efectivo</option >
                      <option value = "2" >Bitcoins</option >
                    </select >
                    <small *ngIf = "controlInvalid('pay_method')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
                <div class = " col-md-6 col-sm-12" >
                  <div class = "m-3 relative" >
                    <label class = "labelInput" >Moneda</label >
                    <select [class.is-invalid] = "controlInvalid('currency')"
                            class = "inputClass"
                            formControlName = "currency" >
                      <option value = "0" >Quetzales</option >
                      <option value = "1" >Dólares</option >
                      <option value = "2" >Bitcoins</option >
                    </select >
                    <small *ngIf = "controlInvalid('currency')"
                           class = "text-danger" >* Este campo es obligatorio</small >
                  </div >
                </div >
              </div >

            </div >
            <div *ngIf = "step == this.totalSteps"
                 class = "animate__animated animate__fadeInLeft"
                 id = "stepFive" >
              <div class = "titleCards" >
                Confirmación
              </div >
              <div class = "panels" >
                <h6 >Datos generales</h6 >
                <div class = "row" >
                  <div class = "col-lg-4 col-md-6 col-sm-12" >
                    <p > Nombre:</p >
                    <p >Dirección:</p >
                    <p >Número de parqueos:</p >
                    <p >Número de parqueos especiales:</p >
                    <p >Uso de ticket:</p >
                    <p >Precio por perdida de ficha:</p >
                    <p >Método de pago:</p >
                    <p >Promoción por perdidaPromoción primer ingreso: No</p >
                    <p >Patrocinador: N/A</p >
                    <p >Parqueo de prueba: No</p >
                    <p >Precio con Bowtie:</p >
                    <p >Tiempo para salir:</p >
                    <p >Afiliación de visanet:</p >
                    <p >Reglamento:</p >
                  </div >
                  <div class = "col-lg-4 col-md-6 col-sm-12" >
                    <p >Tipo de documento:</p >
                    <p >Número de resoución</p >
                    <p >Serie:</p >
                    <p >Folio:</p >
                    <p >Código SAT:</p >
                  </div >
                  <div class = "col-lg-4 col-md-6 col-sm-12" >
                    <p >Rango inicial:</p >
                    <p >Rango final:</p >
                    <p >Dispositivo:</p >
                    <p >Fecha de autorización:</p >
                    <p >Código de establecimiento:</p >
                  </div >
                </div >
              </div >
              <div class = "panels" >
                <h6 >Tabla de horarios</h6 >
                <table class = "table" >
                  <thead >
                  <tr >
                    <th scope = "col" >Día</th >
                    <th scope = "col" >Desde</th >
                    <th scope = "col" >Hasta</th >
                  </tr >
                  </thead >
                  <tbody >
                  <tr >
                    <td >Lunes</td >
                    <td >05:00 am</td >
                    <td >06:30</td >
                  </tr >
                  <tr >
                    <td >Martes</td >
                    <td >05:00 am</td >
                    <td >06:30</td >
                  </tr >
                  </tbody >
                </table >
              </div >
              <div class = "panels" >
                <h6 >Tarifas</h6 >
              </div >
            </div >
          </div >
          <div class = "text-center"
               id = "q-box__buttons" >
            <button (click) = "changeStep(-1)"
                    class = "btn btn-primary m-2"
                    id = "prev-btn"
                    type = "button" >Anterior
            </button >
            <button (click) = "changeStep(1)"
                    class = "btn btn-primary m-2"
                    id = "next-btn"
                    type = "button" >Siguiente
            </button >
            <button
              (click) = "saveParking()"
              *ngIf = "step == totalSteps"
              class = "btn btn-secondary m-2" >Registrar
            </button >
          </div >
        </form >
      </div >
    </div >
    <div id = "preloader-wrapper" >
      <div id = "preloader" ></div >
      <div class = "preloader-section section-left" ></div >
      <div class = "preloader-section section-right" ></div >
    </div >
  </div >
</div >
