<div class="animate__animated animate__fadeInDown" id="daysOfWeek">
  <div class="titleCards">
    
    <span><em class="fas fa-calendar"></em></span> Días de la semana
  </div>
  <div [formGroup]="daysSelectedForm">
    <div class="row justify-content-center">
      <div class="col">
        <app-checkbox-container [formGroup]="daysSelectedForm" controlName="mon"
                                name="Lunes"></app-checkbox-container>
      </div>
      <div class="col">
        <app-checkbox-container [formGroup]="daysSelectedForm" controlName="tue"
                                name="Martes"></app-checkbox-container>
      </div>
      <div class="col">
        <app-checkbox-container [formGroup]="daysSelectedForm" controlName="wed"
                                name="Miercoes"></app-checkbox-container>
      </div>
      <div class="col">
        <app-checkbox-container [formGroup]="daysSelectedForm" controlName="thu"
                                name="Jueves"></app-checkbox-container>
      </div>
      <div class="col">
        <app-checkbox-container [formGroup]="daysSelectedForm" controlName="fri"
                                name="Viernes"></app-checkbox-container>
      </div>
      <div class="col">
        <app-checkbox-container [formGroup]="daysSelectedForm" controlName="sat"
                                name="Sabado"></app-checkbox-container>
      </div>
      <div class="col">
        <app-checkbox-container [formGroup]="daysSelectedForm" controlName="sun"
                                name="Domingo"></app-checkbox-container>
      </div>
    </div>
  </div>
</div>
