<div class="panels animate__animated animate__fadeInLeft">
  <div class="titleCards">
    <span><i class="fas fa-users"></i></span> Usuarios registrados
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6  col-sm-12">
      <div class="mb-4 relative">
        <label class="labelInput">Nombre </label>
        <input class="form-control inputClass" placeholder="NOMBRE:" type="text">
      </div>
    </div>
    <div class="col-xl-6 col-lg-6  col-sm-12">
      <div class="mb-4 relative">
        <label class="labelInput">Teléfono</label>
        <input class="form-control inputClass" placeholder="TELÉFONO:" type="text">
      </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-sm-12">
      <div class="text-center">
        <button class="btn btn-primary " onclick="location.href='#'">Buscar</button>
        <button class="btn btn-secundary " onclick="location.href='#'">Limpiar</button>
      </div>
    </div>
  </div>
  <hr>
  <table class="table">
    <thead>
    <tr>
      <th scope="col" style="width: 4%">ID</th>
      <th scope="col">Nombre completo</th>
      <th scope="col">Teléfono</th>
      <th scope="col text-center" style="width: 4%">Detalles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Alfredo Obregon</td>
      <td>1234-1234</td>
      <td>
        <button class="buttonEdit " data-bs-target="#editMenu" data-bs-toggle="modal">Ver</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Alfredo Obregon</td>
      <td>1234-1234</td>
      <td>
        <button class="buttonEdit " data-bs-target="#editMenu" data-bs-toggle="modal">Ver</button>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Alfredo Obregon</td>
      <td>1234-1234</td>
      <td>
        <button class="buttonEdit " data-bs-target="#editMenu" data-bs-toggle="modal">Ver</button>
      </td>

    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Alfredo Obregon</td>
      <td>1234-1234</td>
      <td>
        <button class="buttonEdit " data-bs-target="#editMenu" data-bs-toggle="modal">Ver</button>
      </td>

    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Alfredo Obregon</td>
      <td>1234-1234</td>
      <td>
        <button class="buttonEdit" data-bs-target="#editMenu" data-bs-toggle="modal">Ver</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
