<div class="container">
  <div class="tab">
    <ul>
      <li (click)="tabChanges('ingresos')" *ngIf="ifHaveAction(graficosIngresoVehiculos)"
        [class.color]="idTabActiva === 'ingresos'" id="ingresos">Ingreso de vehículos
      </li>
      <li (click)="tabChanges('flujo')" *ngIf="ifHaveAction(graficosFlujoDinero)"
        [class.color]="idTabActiva === 'flujo'" id="flujo">Flujo de dinero
      </li>
      <li (click)="tabChanges('cortesias')" *ngIf="ifHaveAction(graficosCortesias)"
        [class.color]="idTabActiva === 'cortesias'" id="cortesias">Cortesías
      </li>
      <li (click)="tabChanges('cortesiasEstacionarias')" *ngIf="ifHaveAction(graficosCortesiasEstacionarias)"
        [class.color]="idTabActiva === 'cortesiasEstacionarias'" id="cortesiasEstacionarias">Cortesías
        estacionarias
      </li>
    </ul>
    <div class="content">
      <div *ngIf="ifHaveAction(graficosIngresoVehiculos) && idTabActiva === 'ingresos'" class="content-value Ingresos">
        <div id="dia">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Parqueo</label>
                      <select #inputParkingIngresoDia name="inputParkingIngresoDia" class="inputClass"
                        formControlName="inputParkingIngresoDia">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary " style="display:block">Fecha</label>
                      <input #inputFechaIngresoDia class="form-control inputClass datetimepicker"
                        formControlName="inputFechaIngresoDia" name="inputFechaIngresoDia" placeholder="Fecha/Hora"
                        type="date" value={{fechaIngresosDia}} max="{{nowDateTime | date: 'dd-MM-YYYY'}}">
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchDia(ingresos)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-bar-chart [fecha]="fechaIngresosDia" [parking]="parqueoIngresosDia" [periodo]="periodoDia"
            [tipoChart]="tipoIngresos" [tipo]="ingresos">
          </app-bar-chart>
        </div>
        <div id="mes">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Parqueo</label>
                      <select #inputParkingIngresoMes class="inputClass" formControlName="parking">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Año</label>
                      <select #inputIngresoMesAnio ngModel="inputIngresoMesAnio" ngControl="inputIngresoMesAnio"
                        class="inputClass" (change)='filterMonth()'>
                        <option *ngFor="let opt of AniosSelect" [selected]="opt.key == AnioActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Mes</label>
                      <select #inputIngresoMes ngModel="inputIngresoMes" ngControl="inputIngresoMes" class="inputClass">
                        <option *ngFor="let opt of monthFiltered" [selected]="opt.key == MesActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchMes(ingresos)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-bar-chart [fecha]="fechaIngresosMes" [parking]="parqueoIngresosMes" [periodo]="periodoMes"
            [tipoChart]="tipoIngresos" [tipo]="ingresos"></app-bar-chart>
        </div>
        <div id="anio">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Parqueo</label>
                      <select #inputParkingIngresoAnio class="inputClass" formControlName="parking">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Año</label>
                      <select #inputIngresoAnio class="inputClass" formControlName="inputIngresoAnio">
                        <option *ngFor="let opt of AniosSelect" [selected]="opt.key == AnioActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchAnio(ingresos)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <app-bar-chart [fecha]="fechaIngresosAnio" [parking]="parqueoIngresosAnio" [periodo]="periodoAnio"
            [tipoChart]="tipoIngresos" [tipo]="ingresos"></app-bar-chart>
        </div>
      </div>
      <div *ngIf="ifHaveAction(graficosFlujoDinero) && idTabActiva === 'flujo'" class="content-value Flujo">
        <div id="dia">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Parqueo</label>
                      <select #inputParkingFlujoDia class="inputClass" formControlName="inputParkingFlujoDia"
                        name="inputParkingFlujoDia">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Fecha</label>
                      <input #inputFechaFlujoDia class="form-control inputClass datetimepicker"
                        formControlName="inputFechaFlujoDia" name="inputFechaFlujoDia" placeholder="Fecha/Hora"
                        type="date" value={{fechaFlujoDia}}>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchDia(flujo)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <app-bar-chart [fecha]="fechaFlujoDia" [parking]="parqueoFlujoDia" [periodo]="periodoDia"
            [tipoChart]="tipoFlujo" [tipo]="flujo"></app-bar-chart>
        </div>
        <div id="mes">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Parqueo</label>
                      <select #inputParkingFlujoMes class="inputClass" formControlName="parking">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Año</label>
                      <select #inputFlujoMesAnio ngModel="inputFlujoMesAnio" ngControl="inputFlujoMesAnio"
                        class="inputClass">
                        <option *ngFor="let opt of AniosSelect" [selected]="opt.key == AnioActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="text-secondary" style="display:block">Mes</label>
                      <select #inputFlujoMes ngModel="inputFlujoMes" ngControl="inputFlujoMes" class="inputClass">
                        <option *ngFor="let opt of monthFiltered" [selected]="opt.key == MesActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchMes(flujo)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-bar-chart [fecha]="fechaFlujoMes" [parking]="parqueoFlujoMes" [periodo]="periodoMes"
            [tipoChart]="tipoFlujo" [tipo]="flujo"></app-bar-chart>
        </div>
        <div id="anio">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Parqueo</label>
                      <select #inputParkingFlujoAnio class="inputClass" formControlName="parking">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Año</label>
                      <select #inputFlujoAnio class="inputClass" formControlName="inputFlujoAnio">
                        <option *ngFor="let opt of AniosSelect" [selected]="opt.key == AnioActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchAnio(flujo)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <app-bar-chart [fecha]="fechaFlujoAnio" [parking]="parqueoFlujoAnio" [periodo]="periodoAnio"
            [tipoChart]="tipoFlujo" [tipo]="flujo"></app-bar-chart>
        </div>
      </div>
      <div *ngIf="ifHaveAction(graficosCortesias) && idTabActiva === 'cortesias'" class="content-value Cortesias">
        <div id="dia">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">

                <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                  <div class="mb-4 relative">
                    <label class="labelInput" style="display:block">Parqueo</label>
                    <select #inputParkingCortesiasDia class="inputClass" formControlName="inputParkingCortesiasDia"
                      name="inputParkingCortesiasDia">
                      <option value="0">---- Todos los parqueos ----</option>
                      <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-12">
                  <div class="mb-4 relative">
                    <label class="labelInput" style="display:block">Fecha</label>
                    <input #inputFechaCortesiasDia class="form-control inputClass datetimepicker"
                      formControlName="inputFechaCortesiasDia" name="inputFechaCortesiasDia" placeholder="Fecha/Hora"
                      type="date" value={{fechaCortesiasDia}}>
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12">
                  <div class="text-center">
                    <button (click)="searchDia(cortesias)" class="btn btn-primary m-2"><span><em
                          class="fas fa-search"></em></span> Buscar
                    </button>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row content">
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasDia" [parking]="parqueoCortesiasDia" [periodo]="periodoDia"
                [titulo]="'Total de cortesias por día'" [valorMostrar]="'TotalCortesias'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasDia" [parking]="parqueoCortesiasDia" [periodo]="periodoDia"
                [titulo]="'Locales con cortesias por día'" [valorMostrar]="'TotalLocales'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasDia" [parking]="parqueoCortesiasDia" [periodo]="periodoDia"
                [titulo]="'Local con más cortesias por día'" [valorMostrar]="'LocalMasCortesias'"></app-card-kpi>
            </div>
          </div>
          <app-courtesy-chart [company]="'0'" [fecha]="fechaCortesiasDia" [parking]="parqueoCortesiasDia"
            [periodo]="periodoDia" [tipo]="cortesias"></app-courtesy-chart>
          <app-bar-chart [fecha]="fechaCortesiasDia" [parking]="parqueoCortesiasDia" [periodo]="periodoDia"
            [tipoChart]="tipoCortesias" [tipo]="cortesias"></app-bar-chart>
        </div>
        <div id="mes">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Parqueo</label>
                      <select #inputParkingCortesiasMes class="inputClass" formControlName="parking">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Año</label>
                      <select #inputCortesiasMesAnio class="inputClass" ngControl="inputCortesiasMesAnio"
                        ngModel="inputCortesiasMesAnio">
                        <option *ngFor="let opt of AniosSelect" [selected]="opt.key == AnioActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Mes</label>
                      <select #inputCortesiasMes class="inputClass" ngControl="inputCortesiasMes"
                        ngModel="inputCortesiasMes">
                        <option *ngFor="let opt of monthFiltered" [selected]="opt.key == MesActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchMes(cortesias)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row content">
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasMes" [parking]="parqueoCortesiasMes" [periodo]="periodoMes"
                [titulo]="'Total de cortesias por mes'" [valorMostrar]="'TotalCortesias'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasMes" [parking]="parqueoCortesiasMes" [periodo]="periodoMes"
                [titulo]="'Locales con cortesias por mes'" [valorMostrar]="'TotalLocales'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasMes" [parking]="parqueoCortesiasMes" [periodo]="periodoMes"
                [titulo]="'Local con más cortesias por mes'" [valorMostrar]="'LocalMasCortesias'"></app-card-kpi>
            </div>
          </div>
          <app-courtesy-chart [company]="'0'" [fecha]="fechaCortesiasMes" [parking]="parqueoCortesiasMes"
            [periodo]="periodoMes" [tipo]="cortesias"></app-courtesy-chart>
          <app-bar-chart [fecha]="fechaCortesiasMes" [parking]="parqueoCortesiasMes" [periodo]="periodoMes"
            [tipoChart]="tipoCortesias" [tipo]="cortesias"></app-bar-chart>
        </div>
        <div id="anio">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Parqueo</label>
                      <select #inputParkingCortesiasAnio class="inputClass" formControlName="parking">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Año</label>
                      <select #inputCortesiasAnio class="inputClass" formControlName="inputCortesiasAnio">
                        <option *ngFor="let opt of AniosSelect" [selected]="opt.key == AnioActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchAnio(cortesias)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row content">
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasAnio" [parking]="parqueoCortesiasAnio" [periodo]="periodoAnio"
                [titulo]="'Total de cortesias por año'" [valorMostrar]="'TotalCortesias'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasAnio" [parking]="parqueoCortesiasAnio" [periodo]="periodoAnio"
                [titulo]="'Locales con cortesias por año'" [valorMostrar]="'TotalLocales'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasAnio" [parking]="parqueoCortesiasAnio" [periodo]="periodoAnio"
                [titulo]="'Local con más cortesias por año'" [valorMostrar]="'LocalMasCortesias'"></app-card-kpi>
            </div>
          </div>
          <app-courtesy-chart [company]="'0'" [fecha]="fechaCortesiasAnio" [parking]="parqueoCortesiasAnio"
            [periodo]="periodoAnio" [tipo]="cortesias"></app-courtesy-chart>
          <app-bar-chart [fecha]="fechaCortesiasAnio" [parking]="parqueoCortesiasAnio" [periodo]="periodoAnio"
            [tipoChart]="tipoCortesias" [tipo]="cortesias"></app-bar-chart>
        </div>
      </div>
      <div *ngIf="ifHaveAction(graficosCortesiasEstacionarias) && idTabActiva === 'cortesiasEstacionarias'"
        class="content-value CortesiasEstacionarias">
        <div id="dia">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <!-- <div class = "col-xl-4 col-lg-6 col-sm-12"
                  *ngIf = "ifHaveAction(verTodosLosParqueosDashboard)" >
                    <div class = "mb-4 relative" >
                      <label class = "labelInput"

                             style = "display:block" >Parqueo</label >
                      <select
                        #inputParkingCortesiasDia
                        name="inputParkingCortesiasDia"
                        class = "inputClass"
                        formControlName = "inputParkingCortesiasDia" >
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor = "let parking of this.allParking"
                                value = "{{parking.id}}" >{{parking.name}}</option >
                      </select >
                    </div >
                  </div > -->
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative ">
                      <label class="labelInput" style="display:block">Fecha</label>
                      <input #inputFechaCortesiasEstacionariasDia class="form-control inputClass datetimepicker "
                        formControlName="inputFechaCortesiasEstacionariasDia" name="inputFechaCortesiasEstacionariasDia"
                        placeholder="Fecha/Hora" type="date" value={{fechaCortesiasEstacionariasDia}}>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchDia(cortesiasEstacionarias)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row content">
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasDia" [parking]="parqueoCortesiasEstacionariasDia"
                [periodo]="periodoDia" [titulo]="'Total de c. estacionarias por día'"
                [valorMostrar]="'TotalCortesiasEstacionarias'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasDia" [parking]="parqueoCortesiasEstacionariasDia"
                [periodo]="periodoDia" [titulo]="'Locales con c. estacionarias por día'"
                [valorMostrar]="'TotalEstacionariasLocales'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasDia" [parking]="parqueoCortesiasEstacionariasDia"
                [periodo]="periodoDia" [titulo]="'Local con más c. estacionarias por día'"
                [valorMostrar]="'LocalMasCortesiasEstacionarias'"></app-card-kpi>
            </div>
          </div>
          <app-courtesy-chart [company]="'0'" [fecha]="fechaCortesiasEstacionariasDia"
            [parking]="parqueoCortesiasEstacionariasDia" [periodo]="periodoDia" [tipo]="cortesiasEstacionarias">
          </app-courtesy-chart>
          <app-bar-chart [fecha]="fechaCortesiasEstacionariasDia" [parking]="parqueoCortesiasEstacionariasDia"
            [periodo]="periodoDia" [tipoChart]="tipoCortesiasEstacionarias" [tipo]="cortesiasEstacionarias">
          </app-bar-chart>
        </div>
        <div id="mes">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <div *ngIf="ifHaveAction(verTodosLosParqueosDashboard)" class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Parqueo</label>
                      <select #inputParkingCortesiasMes class="inputClass" formControlName="parking">
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor="let parking of this.allParking" value="{{parking.id}}">{{parking.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Año</label>
                      <select #inputCortesiasEstacionariasMesAnio class="inputClass"
                        ngControl="inputCortesiasEstacionariasMesAnio" ngModel="inputCortesiasEstacionariasMesAnio">
                        <option *ngFor="let opt of AniosSelect" [selected]="opt.key == AnioActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Mes</label>
                      <select #inputCortesiasEstacionariasMes class="inputClass"
                        ngControl="inputCortesiasEstacionariasMes" ngModel="inputCortesiasEstacionariasMes">
                        <option *ngFor="let opt of monthFiltered" [selected]="opt.key == MesActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchMes(cortesiasEstacionarias)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row content">
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasMes" [parking]="parqueoCortesiasEstacionariasMes"
                [periodo]="periodoMes" [titulo]="'Total de c. estacionarias por mes'"
                [valorMostrar]="'TotalCortesiasEstacionarias'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasMes" [parking]="parqueoCortesiasEstacionariasMes"
                [periodo]="periodoMes" [titulo]="'Locales con c. estacionarias por mes'"
                [valorMostrar]="'TotalEstacionariasLocales'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasMes" [parking]="parqueoCortesiasEstacionariasMes"
                [periodo]="periodoMes" [titulo]="'Local con más c. estacionarias por mes'"
                [valorMostrar]="'LocalMasCortesiasEstacionarias'"></app-card-kpi>
            </div>
          </div>
          <app-courtesy-chart [company]="'0'" [fecha]="fechaCortesiasEstacionariasMes"
            [parking]="parqueoCortesiasEstacionariasMes" [periodo]="periodoMes" [tipo]="cortesiasEstacionarias">
          </app-courtesy-chart>
          <app-bar-chart [fecha]="fechaCortesiasEstacionariasMes" [parking]="parqueoCortesiasEstacionariasMes"
            [periodo]="periodoMes" [tipoChart]="tipoCortesiasEstacionarias" [tipo]="cortesiasEstacionarias">
          </app-bar-chart>
        </div>
        <div id="anio">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panels ">
              <div class="titleCards">
                <span><em class="fas fa-chart-bar"></em></span> Filtros
              </div>
              <div class="row justify-content-center">
                <div class="row">
                  <!-- <div class = "col-xl-4 col-lg-6 col-sm-12"
                  *ngIf = "ifHaveAction(verTodosLosParqueosDashboard)" >
                    <div class = "mb-4 relative" >
                      <label class = "labelInput"

                             style = "display:block" >Parqueo</label >
                      <select
                        #inputParkingCortesiasAnio
                        class = "inputClass"
                        formControlName = "parking" >
                        <option value="0">---- Todos los parqueos ----</option>
                        <option *ngFor = "let parking of this.allParking"
                                value = "{{parking.id}}" >{{parking.name}}</option >
                      </select >
                    </div >
                  </div > -->
                  <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput" style="display:block">Año</label>
                      <select #inputCortesiasEstacionariasAnio class="inputClass"
                        formControlName="inputCortesiasEstacionariasAnio">
                        <option *ngFor="let opt of AniosSelect" [selected]="opt.key == AnioActual" [value]="opt.key">
                          {{opt.valor}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="text-center">
                      <button (click)="searchAnio(cortesiasEstacionarias)" class="btn btn-primary m-2"><span><em
                            class="fas fa-search"></em></span> Buscar
                      </button>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row content">
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasAnio" [parking]="parqueoCortesiasEstacionariasAnio"
                [periodo]="periodoAnio" [titulo]="'Total de c. estacionarias por año'"
                [valorMostrar]="'TotalCortesiasEstacionarias'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasAnio" [parking]="parqueoCortesiasEstacionariasAnio"
                [periodo]="periodoAnio" [titulo]="'Locales con c. estacionarias por año'"
                [valorMostrar]="'TotalEstacionariasLocales'"></app-card-kpi>
            </div>
            <div class="col-lg-4">
              <app-card-kpi [fecha]="fechaCortesiasEstacionariasAnio" [parking]="parqueoCortesiasEstacionariasAnio"
                [periodo]="periodoAnio" [titulo]="'Local con más c. estacionarias por año'"
                [valorMostrar]="'LocalMasCortesiasEstacionarias'"></app-card-kpi>
            </div>
          </div>
          <app-courtesy-chart [company]="'0'" [fecha]="fechaCortesiasEstacionariasAnio"
            [parking]="parqueoCortesiasEstacionariasAnio" [periodo]="periodoAnio" [tipo]="cortesiasEstacionarias">
          </app-courtesy-chart>
          <app-bar-chart [fecha]="fechaCortesiasEstacionariasAnio" [parking]="parqueoCortesiasEstacionariasAnio"
            [periodo]="periodoAnio" [tipoChart]="tipoCortesiasEstacionarias" [tipo]="cortesiasEstacionarias">
          </app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>
