<form [formGroup] = "stepFiveForm"
      class = "needs-validation"
      id = "form-wrapper"
      method = "post"
      name = "form-wrapper"
      novalidate = "" >
  <h6 >Configuración de antenas</h6 >
  <div class = "d-grid gap-2 d-md-flex justify-content-md-end" >
    <button class = "btn btn-success"
            type = "button"
            (click) = "addAntenna()" >Agregar (+)
    </button >
  </div >
  <div
    class = "container " >
    <div formArrayName = "antennas"
         *ngFor = "let control of antennas.controls; index as i"
         class = "row" >
      <h4 >
        Antena
        <small class = "text-muted" >#{{i + 1}}</small >
      </h4 >
      <span *ngIf = "control.get('isWrong')?.value"
            class = "badge bg-danger animate__animated  animate__zoomInDown" >{{control.get('message')?.value}}</span >
      <span *ngIf = "control.get('isRight')?.value"
            class = "badge bg-success animate__animated  animate__zoomInDown" >{{control.get('message')?.value}}</span >
      <div [formGroupName] = "i" >
        <div class = "row" >
          <div class = "col-md-5 col-sm-12" >
            <div class = "m-3 relative " >
              <label class = "labelInput" >Tipo de acceso</label >
              <select
                [class.is-invalid] = "FormArrayInvalid('type_access', i)"
                class = "inputClass"
                formControlName = "type_access" >
                <option *ngFor = "let access of this.accessList"
                        value = "{{access.value}}" >{{access.accessType}}</option >
              </select >
              <small
                *ngIf = "FormArrayInvalid('type_access', i)"
                class = "text-danger" >* Este campo es obligatorio</small >
            </div >
          </div >

          <div class = "col-md-5 col-sm-12" >
            <div class = "m-3 relative " >
              <label class = "labelInput" >Nombre de acceso:</label >
              <input [class.is-invalid] = "FormArrayInvalid('name_access', i)"
                     class = "form-control inputClass"
                     formControlName = "name_access"
                     placeholder = "Nombre de acceso:"
                     type = "text" >
              <small *ngIf = "FormArrayInvalid('name_access', i)"
                     class = "text-danger" >* Este campo es obligatorio</small >
            </div >
          </div >
        </div >
        <div class = "row" >
          <div class = "col-md-5 col-sm-12" >
            <div class = "m-3 relative" >
              <label class = "labelInput" >MAC:</label >
              <input [class.is-invalid] = "FormArrayInvalid('mac_access', i)"
                     class = "form-control inputClass"
                     formControlName = "mac_access"

                     placeholder = "MAC:"
                     type = "text" >
              <small *ngIf = "FormArrayInvalid('mac_access', i)"
                     class = "text-danger" >* Este campo es obligatorio</small >
            </div >
          </div >
          <div class = "col-md-5 col-sm-12" >
            <div class = "m-3 relative" >
              <label class = "labelInput" >Antena:</label >
              <input [class.is-invalid] = "FormArrayInvalid('antenna_access', i)"
                     class = "form-control inputClass"
                     formControlName = "antenna_access"

                     placeholder = "Antena:"
                     type = "text" >
              <small *ngIf = "FormArrayInvalid('antenna_access', i)"
                     class = "text-danger" >* Este campo es obligatorio</small >
            </div >
          </div >
        </div >
      </div >
      <hr >
    </div >
  </div >
  <div class = "text-center"
       id = "q-box__buttons" >
    <button (click) = "emmitStep(-1)"
            class = "btn btn-primary m-2"
            id = "prev-btn"
            type = "button" >Anterior
    </button >
    <button (click) = "emmitStep(1)"
            class = "btn btn-primary m-2"
            id = "next-btn"
            type = "button" >Siguiente
    </button >
  </div >
</form >
