<div class="contenedor">
    <div class="row justify-content-md-center">
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">

            <div class="row">
                <div class="col-lg-6">
                    <div class="panels pb-4">
                        <div class="titleTicket">
                            Solicitud de Soporte
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 mt-2 mb-2"><b>Reportado por:</b></div>
                            <div class="col-8 mt-2 mb-2">{{this.authData.user.name + ' ' +
                                this.authData.user.last_name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-4 mt-2 mb-2"><b>Fecha:</b></div>
                            <div class="col-8 mt-2 mb-2">{{date | date: 'longDate'}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panels">
                        <div class="row mt-4">
                            <div class="col-md-12 ">
                                <app-input-container [formGroup]="supportTicketForm" controlName="email" name="Ingrese su correo" type="email">
                                </app-input-container>
                            </div>

                            <div class="col-md-12 mt-4">
                                <app-input-container [formGroup]="supportTicketForm" controlName="subject" name="Asunto">

                                </app-input-container>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="panels">
                        <app-text-area-container [formGroup]="supportTicketForm" controlName="description"
                            name="descripción">

                        </app-text-area-container>
                        <div class="mt-4 text-center">
                            <button (click)="sendSupportTicket()" class="btn btn-primary" type="button">
                                Enviar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>