    .titleSupport {
      margin-bottom: 0;
      margin-top: 10px
    }

    .statusActive {
      color: #415ba1;
    }

    .statusResuelto {
      color: #0bcdb0;
    }

    .listTable {
      overflow: auto;
      padding: 15px;
    }

    .panelList {
      margin-bottom: 5px;
    }

    .titleTicket {
      margin-left: -15px;
      padding-left: 15px;
      margin-right: -15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #d6d6d6;
      font-size: 14px;
      font-weight: bold;
    }
  