<div class = "headerDashboard animate__animated animate__fadeInDown">
  <nav class = "navbar navbar-light">
    <div class = "container-fluid">
      <form class = "d-flex search">
        <div *ngIf = 'false'
             class = "input-group">
              <span class = "input-group-prepend">
                <div class = "input-group-text bg-transparent border-0"><em class = "fa fa-search"></em></div>
            </span>
          <input aria-label = "Search"
                 class = "form-control me-2 border-0"
                 placeholder = "Buscar usuarios"
                 type = "search">
        </div>
      </form>
      <div class = "menuMobile  "
           style = "display: none;">
        <span onclick = "menuMovil()"><em class = "fas fa-bars"></em></span>
      </div>
      <!-- <span class = "badge bg-info" >{{this.authData.user.name + ' ' + this.authData.user.last_name}}</span >
      <span class = "badge bg-info" >{{this.authData.user.email}}</span >
      <span class = "badge bg-info" >  {{this.authData.user.role.name}}</span > -->

      <div class = "d-flex icons">
        <!-- <span ><em class = "fas fa-bell" ></em ></span > -->
        <div class = "dropdown dropdownHeader">
          <div>
            <div class = "nameHeader">{{this.authData.user.name + ' ' + this.authData.user.last_name}}</div>
            <em class = "far fa-user-circle fa-3x"></em>

          </div>
          <div
            class = "dropdown-content">
            <ul class = "nav flex-column">

              <!-- <li class = "nav-item text-center" >
                {{this.authData.user.name + ' ' + this.authData.user.last_name}}
              </li >
              <hr> -->
              <li class = "nav-item text-center">
                {{this.authData.user.email}}
              </li>
              <li class = "nav-item text-center">
                <div style = "font-size:12px; font-weight:600">{{this.authData.user.role.name}}</div>
              </li>
              <hr>

              <div class = "list-group"
                   id = "list-tab"
                   role = "tablist">
                <a (click) = "setParkedSelected(item)"
                   *ngFor = "let item of authData.user.otherParkings"
                   [ngClass] = "{'active': item.id == this.authData.user.parking.id}"
                   aria-controls = "settings"
                   class = "list-group-item list-group-item-action"
                   data-toggle = "list"
                   id = "list-settings-list"
                   role = "tab">{{item.name}}</a>
              </div>
              <li class = "nav-item">
                <a (click) = "logout()"
                   class = "nav-link">
                  <span><em class = "fa fa-power-off"></em></span>
                  Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
