
.headerDashboard {
  position: fixed;
  padding: 15px;
  right: 0;
  top: 0;
  height: 75px;
  background: #fff;
  width: calc(100vw - 280px);
  border-bottom: 1px solid #e9e9e9;
  z-index: 1;
}


.profileImage {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  overflow: hidden;
  margin-top: -12px;
}

.profileImage img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.titleNav {
  text-transform: uppercase;
  color: #d9d9d9;
  font-size: 14px;
  padding: 0px 30px 25px;
}


.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  font-size: 14px;
  color: #666;
  z-index: 1;
  right: 0;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.nameHeader{
  display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    padding: 0px 10px 15px;
}
.dropdownHeader{
  position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px 0px;
    margin: -20px -10px -10px;
    background: #415ba2;
    border-radius: 6px;
    color: #fff;
}
@media (max-width: 480px) {
  .headerDashboard {
    width: 100vw;
    min-height: 75px;
    z-index: 1;
  }
}
