<div [formGroup] = "formGroup"
     class = "m-2 relative">
  <label class = "labelInput"
         style = "display: block;">{{this.name}}</label>
  <select [class.is-invalid] = "controlInvalid(controlName)"
          class = "inputClass"
          formControlName = "{{controlName}}">
     <option [disabled] = "true"
             value = "0">-- {{data.length <= 0 ? 'No hay ' + name + ' disponibles' : name}} --
    </option>
    <option *ngFor = "let item of data" selected
            [value] = "item.id">{{item.name | titlecase}}</option>
    <option *ngIf='unselect'
      [value] = "null">Sin {{name}}</option>
  </select>
  <small *ngIf = "controlInvalid(controlName)"
         class = "text-danger animate__animated animate__fadeIn">* El valor no es valido</small>
</div>
