<div [formGroup] = "formGroup"
     class = "mb-2 relative" >
  <small *ngIf = "controlInvalid(controlName)"
         class = "text-danger animate__animated animate__fadeIn" >* El valor no es valido</small >
  <select [class.is-invalid] = "controlInvalid(controlName)"
          class = "form-control inputClass "
          formControlName = "{{controlName}}" >
    <option *ngFor = "let item of data"
            [value] = "item.id" >{{item.name}}</option >
    <option [disabled] = "true"
            [selected] = "true"
            value = "0" >-- {{name}} --
    </option >
  </select >

</div >
