<div class="panels">
  <div class="titleCards">
    <span> <em class="fas fa-comment-dollar"></em> </span> Tarifa
  </div>
  <div *ngIf = 'ifHaveAction(createTariff)'>
    <div
      *ngIf = 'false'
      class = 'row justify-content-center'>
      <ng-container
        [formGroup] = 'prioriceForm'
        class = 'radio-inline'>
        <div class = 'col-xl-3 col-lg-4 col-sm-6 text-center'>
          <app-radio-container
            [formGroup] = 'prioriceForm'
            [value] = '1'
            [readOnly] = 'tariffs.length > 0'
            controlName = 'prioriceCost'
            desc = 'Aplicar tarifa de entrada'></app-radio-container>
        </div>
        <div class = 'col-xl-3 col-lg-4 col-sm-6 text-center'>
          <app-radio-container
            [formGroup] = 'prioriceForm'
            [value] = '2'
            controlName = 'prioriceCost'
            desc = 'Aplicar tarifa de salida'></app-radio-container>
        </div>
      </ng-container>
    </div>
    <app-tariff-general-data [generalDataForm]="generalDataForm"></app-tariff-general-data>
  </div>
  <div class="row justify-content-center">
    <div *ngIf="isValidGeneralData" class="titleCards animate__animated animate__fadeInUp">
      <span><em class="fas fa-cogs"></em></span> Rangos y Costos
      <hr>
    </div>
    <div *ngIf="isValidGeneralData" class=" col-md-10 animate__animated animate__fadeInUp">
      <div class="">
        <app-principal-schedule *ngIf="this.hasGlobalSchedule" [holidayForm]="principalScheduleForm"
          [timeRange]="timeRange">
        </app-principal-schedule>
      </div>
      <app-days-of-week [daysSelectedForm]="daysSelectedForm"></app-days-of-week>
      <app-tariff-ranks (setNewTimeRange)="changeTimeRange($event)" [timeRange]="timeRange"></app-tariff-ranks>
      <div class="animate__animated animate__fadeInUp" id="settings">
        <div class="titleCards">
          <hr>
          <span><em class="fas fa-code-branch"></em></span> Configuración
        </div>
        <div class="row mt-md-2 mt-xl-3 mt-4">
          <app-holiday-tariff-form [holidayForm]="holidayForm" [timeRange]="timeRange"></app-holiday-tariff-form>
          <app-schedule-ranks-tariff-form [rankForm]="rankForm" [timeRange]="timeRange">
          </app-schedule-ranks-tariff-form>
          <app-blocks-tariff-form [blockForm]="blockForm" [timeRange]="timeRange"></app-blocks-tariff-form>
          <div *ngIf="timeRange == 4" class="animate__animated animate__fadeInUp ">
            <p><b>Por defecto</b></p>
            <p>
             Se aplicará siempre que los datos no entren en ningún rango anterior o que no existan rangos
              anteriores.
            </p>
          </div>
        </div>
      </div>
      <div class="animate__animated animate__fadeInUp ">
        <div class="titleCards">
          <hr>
          <span><em class="fas fa-dollar-sign"></em></span> Tipo de costo
        </div>
        <div class="text-center">
          <div aria-label="Basic radio toggle button group" class="btn-group" role="group">
            <input (click)="this.costType=1" autocomplete="off" checked class="btn-check" id="hourFraction"
              name="costType" type="radio">
            <label class="btn btn-outline-primary m-1 " for="hourFraction">Hora / Fracción</label>
            <input (click)="this.costType=2" autocomplete="off" class="btn-check " id="fixedTariff" name="costType"
              type="radio">
            <label class="btn btn-outline-primary m-1" for="fixedTariff">Tarifa fija</label>
          </div>
        </div>

        
          <div class="row">
            <div class="col-md-12"> <app-hour-half-cost [costType]="costType" [hourAHalfForm]="hourAHalfForm"></app-hour-half-cost></div>
            <div class="col-md-6"><app-fixed-cost [costType]="costType" [fixedCostForm]="fixedCostForm"></app-fixed-cost></div>
          </div>
         
          
       
        <div class=" text-center mt-4">
          <button (click)="saveRule()" class="btn btn-success btn-lg " type="button">Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="m-4 animate__animated animate__fadeInDown">
    <hr *ngIf="ifHaveTariffData">
  </div> -->
  <div *ngIf=" ifHaveTariffData">
    <div class="titleCards"><span><i class="fas fa-list-ul"></i></span> Reglas de la tarifa para este parqueo</div>
    <!--  Reglas de tarifa  -->
    <div *ngFor="let tariff of tariffs; index as i" class="">
      <div class="row " style="background: #f7f7f7; margin: -15px; padding: 15px; left: 0;  right: 0;  top: 0;  border-radius: 0 0 10px 10px;">
        <div class="col-md-6">
          <div class="panels">
            <div class="row">
              <div class="col">
                <div class="titleCards pt-2 mb-1">Regla #{{i + 1}}</div>
              </div>
              <div class="col-auto text-end">
                
                <button (click)="deleteTariff(tariff.id)" class="btn btn-danger btn-icon" type="button">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
            <div class="titleCards mb-0">{{tariff.name}}</div>
            {{tariff.static_description}}
          </div>
        </div>
      </div>
  </div>
  <div class="text-center" id="q-box__buttons">
    <button (click)="emmitStep(-1)" *ngIf="isCreatingParking" class="btn btn-primary m-2" id="prev-btn"
      type="button">Anterior
    </button>
    <button (click)="emmitStep(1)" *ngIf="isCreatingParking" class="btn btn-primary m-2" id="next-btn"
      type="button">Siguiente
    </button>
  </div>
</div>