<div class = "row justify-content-md-center">
  <div class = "col-12">
    <nav #nav = "ngbNav"
         class = "nav-tabs "
         ngbNav>
      <ng-container
        ngbNavItem>
        <a
          ngbNavLink><em class = "fas fa-users"></em> Crear Solicitud</a>
        <ng-template ngbNavContent>
          <app-new-ticket></app-new-ticket>
        </ng-template>
      </ng-container>
      <ng-container *ngIf = "ifHaveAction(verBitacora)"
        ngbNavItem>
        <a
          ngbNavLink><em class = "fas fa-users"></em> Bitácora</a>
        <ng-template
          ngbNavContent>
          <app-issue-log></app-issue-log>
        </ng-template>
      </ng-container>
    </nav>
  </div>
</div>
<div [ngbNavOutlet] = "nav"
     class = "mt-2"></div>
