<div class = "row justify-content-center " >
  <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 animate__animated animate__fadeInLeft" >
    <div class = "panels" >
      <div class = "titleCards" >
        <span ><i class = "fas fa-sitemap" ></i ></span > Lista de parqueo hoy
      </div >
      <div class = "row" >

        <div class = "col-xl-6 col-lg-6  col-sm-12" >
          <div class = "mb-4 relative" >
            <label class = "labelInput" >Parqueo</label >
            <select class = "inputClass"
                    id = ""
                    name = "" >
              <option value = "" >PARQUEO</option >
              <option value = "" >Parqueo 1</option >
              <option value = "" >Parqueo 2</option >
              <option value = "" >Parqueo 3</option >
            </select >
          </div >
        </div >
        <div class = "col-xl-6 col-lg-6  col-sm-12" >
          <div class = "mb-4 relative" >
            <label class = "labelInput" >Estado</label >
            <select class = "inputClass"
                    id = ""
                    name = "" >
              <option value = "" >ESTADO</option >
              <option value = "" >Activo</option >
              <option value = "" >Inactivo</option >
            </select >
          </div >
        </div >
        <div class = "col-xl-6 col-lg-6 col-sm-12" >
          <div class = "mb-5 relative" >
            <label class = "labelInput"
                   for = "" >Fecha de inicio</label >
            <input class = "form-control inputClass"
                   placeholder = "NÚMERO DE CELULAR"
                   type = "text" >
          </div >
        </div >
        <div class = "col-xl-6 col-lg-6 col-sm-12" >
          <div class = "mb-4 relative" >
            <label class = "labelInput"
                   for = "" >Fecha de fin</label >
            <input class = "form-control inputClass"
                   placeholder = "USUARIO"
                   type = "text" >
          </div >
        </div >


        <div class = "col-xl-12 col-lg-12 col-sm-12" >
          <div class = "text-center mt-3" >
            <button class = "btn btn-primary m-1"
                    onclick = "location.href='#'" >Buscar
            </button >
            <button class = "btn btn-secundary m-1"
                    onclick = "location.href='#'" >Limpiar
            </button >
            <button class = "btn btn-success m-1"
                    onclick = "location.href='#'" ><i class = "fas fa-file-excel" ></i > Excel
            </button >
          </div >
        </div >
      </div >

    </div >
  </div >
  <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <div class = "panels" >

      <div class = "row" >
        <div class = "col-lg-12" >
          <table class = "table animate__animated animate__fadeInLeft" >
            <thead >
            <tr >
              <th scope = "col"
                  style = "width: 4%" >ID
              </th >
              <th scope = "col" >Nombre</th >
              <th scope = "col" >Fecha ingreso</th >
              <th scope = "col" >Hora ingreso</th >
              <th scope = "col" >Tiempo en el parqueo</th >
              <th scope = "col" >Monto</th >
              <th scope = "col" >Estado</th >
              <th scope = "col" >Tipo de entrada</th >
              <th scope = "col" >Sacar del parqueo</th >
            </tr >
            </thead >
            <tbody >
            <tr >
              <td ></td >
              <td ></td >
              <td ></td >
              <td ></td >
              <td ></td >
              <td ></td >
              <td ></td >
              <td ></td >
              <td ></td >
            </tr >
            </tbody >
          </table >
        </div >
      </div >
    </div >
  </div >
