<div class = "titleCards" >
  Tarifa
</div >

<div >
  <div class = "alert alert-info animate__animated animate__zoomInDown"
       *ngIf = "disableRanges"
       role = "alert" >
    <p class = "mb-0" >Datos congelados, ahora elige el costo que se aplicará a este rango.</p >
  </div >
  <h1 class = "display-6" >Datos generales</h1 >
  <form action = ""
        [formGroup] = "generalDataForm" >
    <div class = "row" >
      <div class = "col-6" >
        <div class = "mb-3" >
          <div class = "input-group " >
            <span class = "input-group-text" >Nombre</span >
            <input [readOnly] = "disableRanges"
                   type = "text"
                   [class.is-invalid] = "validateGeneralDataForm('name')"
                   formControlName = "name"
                   class = "form-control"
                   aria-describedby = "basic-addon1" >
          </div >
          <small *ngIf = "validateGeneralDataForm('name')"
                 class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
        </div >
        <div >
          <ul class = "opcionActivo" >
            <li >
              <input type = "checkbox"
                     id = "isShowDescription"
                     formControlName = "isShowDescription"
                     class = "form-check-input" >
              <label for = "isShowDescription"
                     class = "form-check-label ms-2" >
                Mostrar descripción
              </label >
            </li >
          </ul >
        </div >
      </div >
      <div class = "col-6" >
        <div class = "form-floating" >
              <textarea class = "form-control"
                        [class.is-invalid] = "validateGeneralDataForm('description')"
                        [readOnly] = "disableRanges"
                        id = "descriptionTextArea"
                        formControlName = "description"
                        placeholder = "Descripción de la tarifa"
                        style = "height: 100px" ></textarea >
          <label for = "descriptionTextArea" >Descripción de tarifa</label >
        </div >
        <small *ngIf = "validateGeneralDataForm('description')"
               class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >

      </div >
    </div >
  </form >
</div >
<hr *ngIf = "isValidGeneralData" >
<div class = "row" >
  <div
    *ngIf = "isValidGeneralData"
    class = " col-md-12 col-xl-6 animate__animated animate__fadeInDown" >
    <div class = "alert alert-info animate__animated animate__zoomInDown"
         *ngIf = "disableRanges"
         role = "alert" >
      <p class = "mb-0" >Esto ya no es editable, ahora elige el costo que se aplicará a este rango.</p >
    </div >
    <h1 class = "display-6"
    >Rango de tiempo</h1 >
    <div class = "btn-group"
         role = "group"
         aria-label = "Basic radio toggle button group" >
      <input type = "radio"
             class = "btn-check "
             name = "rangeTime"
             [disabled] = "disableRanges"
             (click) = "timeRange=1"
             id = "holidayTxt"
             autocomplete = "off"
             checked >
      <label class = "btn btn-outline-success m-1"
             for = "holidayTxt" >Fechas especiales</label >

      <input type = "radio"
             class = "btn-check "
             name = "rangeTime"
             [disabled] = "disableRanges"
             (click) = "timeRange=2"
             id = "timeRange"
             autocomplete = "off" >
      <label class = "btn btn-outline-success m-1"
             for = "timeRange" >Por horarios</label >

      <input type = "radio"
             class = "btn-check"
             name = "rangeTime"
             [disabled] = "disableRanges"
             (click) = "timeRange=3;"
             id = "timeslot"
             autocomplete = "off" >
      <label class = "btn btn-outline-success m-1"
             for = "timeslot" >Por bloques</label >

      <input type = "radio"
             class = "btn-check"
             name = "rangeTime"
             [disabled] = "disableRanges"
             id = "default"
             (click) = "timeRange=4"
             autocomplete = "off" >
      <label class = "btn btn-outline-success m-1"
             for = "default" >Por defecto</label >
    </div >
    <div class = "row mt-md-2 mt-xl-3 mt-4" >
      <div *ngIf = "timeRange == 1"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Fechas especiales o dias festivos</h4 >

        <form action = ""
              [formGroup] = "holidayForm" >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Desde</span >
              <input [readOnly] = "disableRanges"
                     type = "datetime-local"
                     [class.is-invalid] = "validateHolidayForm('from')"
                     formControlName = "from"
                     class = "form-control"
                     aria-describedby = "basic-addon1" >

            </div >
            <small *ngIf = "validateHolidayForm('from')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Hasta</span >
              <input [readOnly] = "disableRanges"
                     type = "datetime-local"
                     class = "form-control"
                     [class.is-invalid] = "validateHolidayForm('to')"
                     formControlName = "to"
                     aria-describedby = "basic-addon1" >

            </div >
            <small *ngIf = "validateHolidayForm('to')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Tiempo de gracia</span >
              <input [readOnly] = "disableRanges"
                     type = "number"
                     class = "form-control"
                     placeholder = "En minutos"
                     [class.is-invalid] = "validateHolidayForm('fromMinute')"
                     formControlName = "fromMinute"
                     aria-describedby = "basic-addon1" >

            </div >
            <small *ngIf = "validateHolidayForm('fromMinute')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
        </form >

      </div >
      <div *ngIf = "timeRange == 2"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Por horarios o rango de horas</h4 >
        <form action = ""
              [formGroup] = "rankForm" >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Desde</span >
              <input [readOnly] = "disableRanges"
                     type = "time"
                     [class.is-invalid] = "validateRankForm('from')"
                     class = "form-control"
                     formControlName = "from"
                     aria-describedby = "basic-addon1" >

            </div >
            <small *ngIf = "validateRankForm('from')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Hasta</span >
              <input [readOnly] = "disableRanges"
                     formControlName = "to"
                     [class.is-invalid] = "validateRankForm('to')"
                     type = "time"
                     class = "form-control"
                     aria-describedby = "basic-addon1" >

            </div >
            <small *ngIf = "validateRankForm('to')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Tiempo de gracia</span >
              <input [readOnly] = "disableRanges"
                     type = "number"
                     class = "form-control"
                     placeholder = "En minutos"
                     [class.is-invalid] = "validateRankForm('fromMinute')"
                     formControlName = "fromMinute"
                     aria-describedby = "basic-addon1" >

            </div >
            <small *ngIf = "validateRankForm('fromMinute')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
        </form >
      </div >
      <div *ngIf = "timeRange == 3"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Por bloques de horas</h4 >
        <form action = ""
              [formGroup] = "blockForm" >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Límite inferior</span >
              <input [readOnly] = "disableRanges"
                     type = "number"
                     placeholder = "Desde 0 horas"
                     formControlName = "lowerLimit"
                     [class.is-invalid] = "validateBlockForm('lowerLimit')"
                     class = "form-control"
                     aria-describedby = "basic-addon1" >

            </div >
            <small *ngIf = "validateBlockForm('lowerLimit')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Límite superior</span >
              <input [readOnly] = "disableRanges"
                     type = "number"
                     placeholder = "Hasta 4 horas"
                     formControlName = "upperLimit"
                     [class.is-invalid] = "validateBlockForm('upperLimit')"
                     class = "form-control"
                     aria-describedby = "basic-addon1" >

            </div >
            <small *ngIf = "validateBlockForm('upperLimit')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Tiempo de gracia</span >
              <input [readOnly] = "disableRanges"
                     type = "number"
                     class = "form-control"
                     placeholder = "En minutos"
                     [class.is-invalid] = "validateBlockForm('fromMinute')"
                     formControlName = "fromMinute"
                     aria-describedby = "basic-addon1" >
            </div >
            <small *ngIf = "validateBlockForm('fromMinute')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
        </form >
      </div >
      <div *ngIf = "timeRange == 4"
           class = "animate__animated animate__fadeInUp " >
        <form action = ""
              [formGroup] = "defaultForm" >
          <div class = "mb-3" >
            <div class = "input-group " >
              <span class = "input-group-text" >Tiempo de gracia</span >
              <input [readOnly] = "disableRanges"
                     type = "number"
                     class = "form-control"
                     placeholder = "En minutos"
                     [class.is-invalid] = "validateDefaultForm('fromMinute')"
                     formControlName = "fromMinute"
                     aria-describedby = "basic-addon1" >
            </div >
            <small *ngIf = "validateDefaultForm('fromMinute')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
        </form >
        <h4 >Por defecto</h4 >
        <p class = "lead" >
          Este se ejecutará siempre que no los datos no entren en ningún rango anterior o que no existan rangos
          anteriores.
        </p >
      </div >
    </div >
    <div class = " text-center mt-4" >
      <button type = "button"
              (click) = "setDisableRanges()"
              class = "btn btn-warning btn-lg " >{{disableRanges ? 'Descongelar datos' : 'Congelar datos'}}
      </button >
    </div >
  </div >
  <div class = "col-xl-1 " ></div >
  <div *ngIf = "disableRanges"
       class = "col-sm-12  col-md-12 col-xl-5 animate__animated animate__fadeInDown" >
    <h4 class = "display-6" >Tipo de costo</h4 >
    <div class = "btn-group"
         role = "group"
         aria-label = "Basic radio toggle button group" >
      <input [readOnly] = "disableRanges"
             type = "radio"
             class = "btn-check"
             name = "costType"
             (click) = "costType=1"
             id = "hourFraction"
             autocomplete = "off"
             checked >
      <label class = "btn btn-outline-success m-1 "

             for = "hourFraction" >Hora / Fracción</label >
      <input [readOnly] = "disableRanges"
             type = "radio"
             class = "btn-check "
             name = "costType"
             (click) = "costType=2"
             id = "fixedTariff"
             autocomplete = "off" >
      <label class = "btn btn-outline-success m-1"
             for = "fixedTariff" >Tarifa fija</label >
    </div >
    <div class = "row mt-4" >
      <div *ngIf = "costType==1"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Hora / Fracción</h4 >
        <form action = ""
              [formGroup] = "hourAHalfForm" >
          <div class = "row " >
            <div class = "mb-3" >
              <div class = "input-group " >
            <span class = "input-group-text"
                  id = "basic-addon1" >Precio por hora</span >
                <input type = "number"
                       class = "form-control"
                       formControlName = "hourCost"
                       placeholder = "123.12"
                       aria-label = "cost"
                       aria-describedby = "basic-addon1"
                       [class.is-invalid] = "validateHourHalfCost('hourCost')" >
              </div >
              <small *ngIf = "validateHourHalfCost('hourCost')"
                     class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
            </div >
          </div >
          <div class = "row " >
            <div class = "mb-3" >
              <div class = "input-group " >
                <span class = "input-group-text" >Precio por fracción</span >
                <input type = "number"
                       class = "form-control"
                       placeholder = "123.12"
                       aria-label = "cost"
                       aria-describedby = "basic-addon1"
                       formControlName = "halfCost"
                       [class.is-invalid] = "validateHourHalfCost('halfCost')" >
              </div >
              <small *ngIf = "validateHourHalfCost('halfCost')"
                     class = "text-danger animate__animated animate__rotateIn" >* Este campo es obligatorio</small >
            </div >
          </div >
        </form >
      </div >
      <div *ngIf = "costType==2"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Tarifa fija</h4 >

        <form action = ""
              [formGroup] = "fixedCostForm" >
          <div class = "mb-3" >
            <div class = "input-group" >
              <span class = "input-group-text" >Precio fijo</span >
              <input type = "number"
                     class = "form-control"
                     placeholder = "123.12"
                     aria-label = "cost"
                     aria-describedby = "basic-addon1"
                     formControlName = "fixedCost"
                     [class.is-invalid] = "validateFixedCost('fixedCost')" >
            </div >
            <small *ngIf = "validateFixedCost('fixedCost')"
                   class = "text-danger animate__animated  animate__rotateIn" >* Este campo es obligatorio</small >
          </div >
        </form >
      </div >
    </div >
    <div class = " text-center mt-4" >
      <button type = "button"
              (click) = "saveRule()"
              class = "btn btn-success btn-lg " >Guardar
      </button >
    </div >
  </div >
</div >
<div class = "m-4 animate__animated animate__fadeInDown" >
  <hr *ngIf = "ifHaveTariffData" >
</div >
<div
  *ngIf = " ifHaveTariffData> 0" >
  <h1 class = "display-6 text-center" >Reglas de la tarifa para este parqueo</h1 >
  <!--  Reglas de tarifa  -->
  <div *ngFor = "let tariff of tariffs; index as i"
       class = "me-5 ms-5 mb-2 animate__animated  animate__rotateInUpRight" >
    <div class = "card border-success mb-3" >
      <div class = "card-header" >Regla #{{i + 1}}</div >
      <div class = "card-body text-success" >
        <h5 class = "card-title" >{{tariff.description}}</h5 >
        <p class = "card-text" >
          {{tariff.static_description}}
          <br >
          <br >
          <button type = "button"
                  (click) = "deleteTariff(tariff.id)"
                  class = "btn btn-danger" ><em class = "fas fa-trash" ></em >
          </button >
        </p >
      </div >
    </div >
  </div >
 </div >
<div class = "text-center"
     id = "q-box__buttons" >
  <button (click) = "emmitStep(-1)"
          class = "btn btn-primary m-2"
          id = "prev-btn"
          type = "button" >Anterior
  </button >
  <button (click) = "emmitStep(1)"
          class = "btn btn-primary m-2"
          id = "next-btn"
          type = "button" >Siguiente
  </button >
</div >
