<div class="row justify-content-md-center">
  <div class="col-xl-12 col-lg-10 col-md-12 col-sm-12">
    ​
    <div class="panels">
      <div class="titleCards">
                <span>
                    <i aria-hidden="true" class="fas fa-info-circle"></i>
                </span> Pantalla de pruebas
      </div>
      ​
      <div class="row">

        <div class="col-md-6 mb-4">
          <div class="m-3 relative ">
            <app-select-container (change)="getCourtesies(this.parkingSelected)" *ngIf="isSudo"
                                  [data]="this.allParkingLot"
                                  [formGroup]="tariffTestForm"
                                  controlName="parking"
                                  name="Parqueo"></app-select-container>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <app-select-container (change) = "this.courtesySelected()"
                                [data]="this.courtesies"
                                [formGroup]="tariffTestForm"
                                controlName="courtesyId"
                                [unselect]="true"
                                name="Cortesías"></app-select-container>
        </div>

        <div class="col-md-6 mb-4">

          <app-input-container [formGroup]="tariffTestForm"
                               controlName="date_in"
                               name="Fecha y hora de entrada"
                               type="datetime-local">

          </app-input-container>
        </div>
        <div class="col-md-6 mb-4">

          <app-input-container [formGroup]="tariffTestForm"
                               controlName="date_out"
                               name="Fecha y hora de salida"
                               type="datetime-local">

          </app-input-container>
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panels">
          <b>Tiempo Total:</b>
          <br>
          <div style="min-height: 48px;">
            <br>
            <h4>
              <p *ngIf="this.ticket.days == 0 && this.ticket.hour == 0 && this.ticket.minute == 0" >0D:0H:0M</p>
              <span *ngIf="this.ticket.days != 0">{{this.ticket.days}}D:</span>
              <span *ngIf="this.ticket.hour != 0">{{this.ticket.hour}}H:</span>
              <span *ngIf="this.ticket.minute != 0">{{this.ticket.minute}}M</span></h4>

          </div>
          
        </div>

      </div>

      <div class="col-md-6 ">
        <div class="panels">
          <b>Total a pagar:</b><br><br><b><h4>{{this.ticket.amount | currency:'GTQ'}}</h4></b> 
        </div>

      </div>
      ​
    </div>
    <div class="panels">
      <div class="row">
        <div class="col-12 text-center">
          <button
            (click)="getTariffTest()"
            class="btn btn-primary" type="button">
            Probar
          </button>
        </div>
      </div>
    </div>
    ​
    ​
  </div>
</div>
