<div class="row justify-content-md-center">
  <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
    ​
    <div class="panels">
      <div class="titleCards">
                <span>
                    <i aria-hidden="true" class="fas fa-info-circle"></i>
                </span> Pantalla de pruebas
      </div>
      ​
      <div class="row">

        <div class="col-md-6 mb-4">
          <div class="m-3 relative ">
            <app-select-container (change)="getCourtesies(this.parkingSelected)" *ngIf="isSudo"
                                  [data]="this.allParkingLot"
                                  [formGroup]="tariffTestForm"
                                  controlName="parking"
                                  name="Estado"></app-select-container>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <app-select-container (change) = "this.courtesySelected()"
                                [data]="this.courtesies"
                                [formGroup]="tariffTestForm"
                                controlName="courtesyId"
                                name="courtesy"></app-select-container>
        </div>

        <div class="col-md-6 mb-4">

          <app-input-container [formGroup]="tariffTestForm"
                               controlName="date_in"
                               name="Fecha y hora de entrada"
                               type="datetime-local">

          </app-input-container>
        </div>
        <div class="col-md-6 mb-4">

          <app-input-container [formGroup]="tariffTestForm"
                               controlName="date_out"
                               name="Fecha y hora de salida"
                               type="datetime-local">

          </app-input-container>
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panels">
          <b>Tiempo Total:</b>
          <br>
          <p *ngIf="this.ticket.days != 0"> D: {{this.ticket.days}} </p>
          <p *ngIf="this.ticket.hour != 0"> H: {{this.ticket.hour}} </p>
          <p *ngIf="this.ticket.minute != 0"> M: {{this.ticket.minute}} </p>
        </div>

      </div>

      <div class="col-md-6 ">
        <div class="panels">
          <b>Total a pagar:</b><br> {{this.ticket.amount | currency:'GTQ'}}
        </div>

      </div>
      ​
    </div>
    <div class="panels">
      <div class="row">
        <div class="col-12 text-center">
          <button
            (click)="getTariffTest()"
            class="btn btn-primary" type="button">
            Probar
          </button>
        </div>
      </div>
    </div>
    ​
    ​
  </div>
</div>
