@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.dt-button {
  background: #fff;
  color: #021C70;
  border: 1px solid #021C70;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}


button.dt-button:hover {
  background: #05b197;
  color: #fff;
}

.buttons-columnVisibility.active {
  background: #021C70;
  color: #fff;
}

.bgBody {
  background: #f7f7f7;
}

.iconInput {
  position: absolute;
  right: 0;
  margin: 15px;
}

.btn {
  border-radius: 6px !important;
  box-shadow: 0 0 0 0 rgb(49 132 253 / 0%) !important;
  font-weight: 300 !important;
  padding: 6px 40px !important;
  min-width: 140px !important;
  margin-bottom: 5px;
}

.buttonIcon {
  background: #021C70;
  color: #fff;
  border: 0;
  border-radius: 4px;
  height: 32px;
  width: 32px;

}

.buttonEdit {
  background: #fff;
  color: #021C70;
  border: 1px solid #021C70;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.buttonRowEdit {
  background: #05ccae;
  color: white;
  border: 1px solid #05ccae;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 40px;
}

.buttonRowEdit:Hover {
  background: #05b197;
  color: #ffffff;
  border: 1px solid #06b197;
}

.buttonRowDelete {
  background: #fb6e7b;
  color: White;
  border: 1px solid #fb6f7b;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 40px;
}

.buttonRowDelete:Hover {
  background: #ef2f3d;
  color: #ffffff;
  border: 1px solid #ef2f3d;
}

.buttonRowDisable {
  background: #f18872;
  color: White;
  border: 1px solid #f18872;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 40px;
}

.buttonRowDisable:Hover {
  background: #f8370d;
  color: #ffffff;
  border: 1px solid #f8370d;
}

.buttonRowAlert {
  background: #415ba2;
  color: White;
  border: 1px solid #415ba2;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 40px;
}

.buttonRowAlert:hover {
  background: #324a8a;
  color: White;
  border: 1px solid #30488a;
}

.buttonRowCancel {
  background: #666464;
  color: White;
  border: 1px solid #666464;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 40px;
}

.buttonRowCancel:Hover {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.buttonRowQR {
  background: #167ccf;
  color: #ffffff;
  border: 1px solid #167ccf;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.buttonRowQR:Hover {
  background: white;
  color: #167ccf;
  border: 1px solid #167ccf;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.btn-delete {
  background: #c36554;
  border: 0;
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #415BA6;
  border-color: #415BA6;
}

.btn-success {
  background: #10ceb2;
  border: 0
}

.btn-secundary {
  border: 2px solid #415ba1;
}

.btn-s {
  border: 0;
  border-radius: 4px;
  height: 30px;
  width: 30px;
}

#loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  padding-top: 35vh;
  display: block;
}


@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.chkbx-toggle {
  display: none;
}

.chkbx-toggle + label {
  position: relative;
  cursor: pointer;
  outline: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 40px;
  height: 20px;
  background-color: #e4e4e4;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.chkbx-toggle + label::before, .chkbx-toggle + label::after {
  content: "";
  display: block;
  position: absolute;
}

.chkbx-toggle + label::before {
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-color: #F1F1F1;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.multiParking{
  margin: 0 0 5px 0;
  border: 0px !important;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
  border-radius: 4px !important;
  text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1;
}
.multiParking:hover{
  background: #53ccae !important;
  color: #fff;
}
.chkbx-toggle + label::after {
  top: -1px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.chkbx-toggle:checked + label {
  background-color: #021C70;
}

.chkbx-toggle:checked + label::before {
  background-color: #021C70;
}

.chkbx-toggle:checked + label::after {
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.chkbx-toggle:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}

.relative {
  position: relative;
}

.loginBody {
  background-image: url(../img/backlogin.png);
  background-size: 15%;
  background-color: #021C70;
}

.btn-input {
  border-radius: 0px 6px 6px 0px !important;
  min-width: 75px !important;
  max-width: 100px !important;
  padding: 11px 5px !important;
  margin-bottom: 0px !important;
  background: #04ccae;
  border: 1px solid #04ccae;
}

.form-group input {

  border-radius: 0px;

  padding: 10px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

button.login {
  width: 100%;
  background: #415BA6;
  border-radius: 4px;
  border: 0px;
}


.icons span {
  margin-right: 15px;
}


.panels {
  position: relative;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.065);
  min-height: 40vh;
}

.panelsWithOutMinHeight {
  position: relative;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.065);
}

.floatNumber {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  margin: 15px;
  padding: 5px 10px;
  border-radius: 20px;
}

.positiveFloat {
  background: #EAF9EF;
  color: #54c370;
}

.NegativeFloat {
  background: #feeaea;
  color: #f4504f;
}

.titleCards {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 25px;
}

.titleCards span {
  color: #415BA6;
  margin-right: 15px;
}

.cardMenu {
  position: relative;
  border: 1px solid #021C70;
  margin: auto;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  min-height: 70px;
  overflow: hidden;
}

.cardMenu:hover {
  cursor: pointer;
  background: #f5f7ff;
}

.cardMenuIcon {
  background: #021C70;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  position: absolute;
  line-height: 40px;
  font-size: 18px;
  margin-right: 15px;
  left: 0;
  top: 0;
  margin: 15px;
}

.cardMenuTitle {
  position: relative;
  text-align: left;
  margin-left: 50px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

label.labelInput {
  position: absolute;
  font-size: 11px;
  margin: -14px 0 0 5px;
  padding: 0;
  color: #021C70;
  border-radius: 4px;
  display: none;
}

label.labelInputFile {
  font-size: 11px;
  margin: -10px 0 0 0px;
  padding: 0;
  color: #021C70;
  border-radius: 4px;
  padding-bottom: 10px;
}


.inputClass {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  border-radius: 0;
  padding-bottom: 0;
  background: #f9f9f9;
  font-size: 12px;
  width: 100%;
  padding: 15px 15px 3px 10px;
  color: #707981;
}

.inputClass:focus-visible {
  outline: 0px
}

.selectClass {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  border-radius: 0;
  padding-bottom: 0;
  font-size: 12px;
  width: 100%;
  padding: 15px 15px 3px 10px;
  color: #707981;
}

.selectClass:focus-visible {
  outline: 0px
}

.tContent {
  background: #f9f9f9;
  width: 50%;
  text-align: center;
  font-weight: 600;
  line-height: 12px;
  padding: 15px;
  font-size: 18px;
}

.tContent span {
  color: #021C70;
  font-weight: 300;
  font-size: 12px;
}

ul.opcionActivo {
  list-style: none;
}

ul.opcionActivo li {
  display: inline;
}

ul.opcionActivo li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgb(29 139 250);
  color: #021C70;
  border-radius: 8px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.opcionActivo li label {
  padding: 8px 12px;
  cursor: pointer;
  min-width: 115px;
  text-align: center;
}

ul.opcionActivo li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform .3s ease-in-out;
}

ul.opcionActivo li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.opcionActivo li input[type="checkbox"]:checked + label {
  border: 1px solid #008974;
  background-color: #05ccae;
  color: #fff;
  transition: all .2s;
}

ul.opcionActivo li input[type="checkbox"] {
  display: absolute;
}

ul.opcionActivo li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.opcionActivo li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

ul.opcionActivo li input[type="radio"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.opcionActivo li input[type="radio"]:checked + label {
  border: 2px solid #415ba2;
  background-color: #415ba2;
  color: #fff;
  transition: all .2s;
}

ul.opcionActivo li input[type="radio"] {
  display: absolute;
}

ul.opcionActivo li input[type="radio"] {
  position: absolute;
  opacity: 0;
}

ul.opcionActivo li input[type="radio"]:focus + label {
  border: 2px solid #e9a1ff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: rgb(247 247 247);;
  color: var(--bs-table-striped-color);
}

table.dataTable tbody tr {
  background-color: #ffffff;
  border: #05ccae;
}

table.dataTable th, table.dataTable td {
  box-sizing: content-box;
  vertical-align: middle;
}


.cardMenuTitle {
  position: relative;
  text-align: left;
  margin-left: 50px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-inner {
  padding: 1em;
}

.cardmenu {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

nav {
  margin-bottom: -15px !important;
  border: none !important;
}

nav > .nav-link {
  min-width: 125px;
  text-align: center;
  border: 0px !important;
  box-shadow: 3px 5px 2px rgb(0 0 0 / 3%);
  padding-bottom: 15px;
  background: #f2f2f2;
  color: #000;
}

nav > .nav-link.active {
  border-top: solid 5px #05ccae !important;
  background: #fff;
  color: #000;
}

.bglogin {
  background: #011c6f;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/backlogin.png);
  background-size: 15%;

}

.login-form {
  position: absolute;
  width: 350px;
  height: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 12px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.logo {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 75px;
  padding: 5px 5px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  margin-bottom: 15px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.logo img {
  height: 100%;
  margin: auto;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #04ccae;
  transition: width .6s ease;
}

.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: #415ba2 !important;
  border-color: #415ba2 !important;
}

.btn-outline-primary {
  color: #415ba2;
  border-color: #415ba2 !important;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #415ba2;
  border-color: #415ba2;
}

.btn-icon {
  padding: 5px 15px !important;
  width: auto;
  min-width: 30px !important;
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .menuMobile {
    display: block !important
  }

  .loginBody {
    background-image: url(../img/backlogin.png);
    background-size: 75%;
    background-color: #1400a4;
  }

  .panelLeft {
    display: block;
    z-index: 10 !important;
    box-shadow: 10px 0px 10px rgb(0 0 0 / 9%);
    left: -100% !important;
    transition-timing-function: ease-out;
    transition: left 0.5s;
  }

  .panelMovil {
    transition-timing-function: ease-out;
    left: 0% !important;
  }

  .nMenu {
    display: none;
    transition: 1.5s;
    opacity: 0;
  }

  .closemenu {
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    z-index: 8 !important;
    transition: 1.5s;
    transition-timing-function: ease-out;
    opacity: 1;
    display: block;
  }

  .contenedor {
    left: 0 !important;
    width: 100vw !important;
    margin-left: 0 !important;
    top: 0;
    margin-top: 74px;
    height: calc(100vh - 120px) !important;
    margin-left: 0;

  }

  .headerDashboard {
    width: 100vw !important;
    min-height: 75px;
    z-index: 2;
  }

  .search {
    display: none !important;
  }

  .panels {
    overflow: auto;
  }

  .tab-content > .active {
    margin-top: 25px;
  }

  .tab ul, nav.nav-tabs.nav {
    display: grid !important;
  }

  .tab ul li, nav.nav-tabs.nav > a {
    background: #fff !important;
    margin-bottom: 5px !important;
    border-radius: 4px !important;
    padding-top: 7px !important;
    padding-bottom: 10px !important;
  }

}

/*this was placed to hide download option in the dashboard graphs*/
.apexcharts-menu-item.exportSVG {
  display: none;
}

.apexcharts-menu-item.exportPNG {
  display: none;
}

.swal2-styled {
  min-width: 150px !important;
}

.swal2-confirm {
  background: #415ba2 !important;
}

.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 2em 3em 1em !important;
  color: #595959;
  font-size: 1.25em !important;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb {
  background: #415BA1;
  border-radius: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

@media (max-width: 460px) {
  .locationPanel {
    zoom: 0.7;
  }
}



