@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.btn {
  border-radius: 6px !important;
  box-shadow: 0 0 0 0 rgb(49 132 253 / 0%) !important;
  font-weight: 300 !important;
  padding: 6px 40px !important;
  min-width: 140px !important;
  margin-bottom: 5px;
}

.buttonIcon {
  background: #021C70;
  color: #fff;
  border: 0px;
  border-radius: 4px;
  height: 32px;
  width: 32px;

}

.buttonEdit {
  background: #fff;
  color: #021C70;
  border: 1px solid #021C70;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.buttonRowEdit {
  background: #198754;
  color: white;
  border: 1px solid #198754;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.buttonRowEdit:Hover {
  background: white;
  color: #198754;
  border: 1px solid #198754;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.buttonRowDelete {
  background: #c36554;
  color: White;
  border: 1px solid #c36554;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.buttonRowDelete:Hover {
  background: white;
  color: #c36554;
  border: 1px solid #c36554;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.buttonRowQR {
  background: #167ccf;
  color: #ffffff;
  border: 1px solid #167ccf;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.buttonRowQR:Hover {
  background: white;
  color: #167ccf;
  border: 1px solid #167ccf;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  min-width: 50px;
}

.btn-delete {
  background: #c36554;
  border: 0px;
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #415BA6;
  border-color: #415BA6;
}

.btn-success {
  background: #54c370;
  border: 0px
}

.btn-secundary {
  border: 2px solid #c5d5f0;
}

.btn-s {
  border: 0px;
  border-radius: 4px;
  height: 30px;
  width: 30px;
}

#loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  padding-top: 35vh;
  display: block;
}


@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.chkbx-toggle {
  display: none;
}

.chkbx-toggle + label {
  position: relative;
  cursor: pointer;
  outline: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 40px;
  height: 20px;
  background-color: #e4e4e4;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.chkbx-toggle + label::before, .chkbx-toggle + label::after {
  content: "";
  display: block;
  position: absolute;
}

.chkbx-toggle + label::before {
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-color: #F1F1F1;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.chkbx-toggle + label::after {
  top: -1px;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.chkbx-toggle:checked + label {
  background-color: #021C70;
}

.chkbx-toggle:checked + label::before {
  background-color: #021C70;
}

.chkbx-toggle:checked + label::after {
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.chkbx-toggle:disabled + label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}

.relative {
  position: relative;
}

.loginBody {
  /*TODO: Arreglar el background para que la iamgen solo afecte al Login y no al resto de la aplicación*/
  /*background-image: url(../img/backlogin.png);*/
  background-size: 15%;
  background-color: #021C70;
}

.form-group input {
  border: 1px solid #2BC9B1;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

button.login {
  width: 100%;
  background: #415BA6;
  border-radius: 4px;
  border: 0px;
}


.icons span {
  margin-right: 15px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  font-size: 14px;
  color: #666;
  z-index: 1;
  right: 0;
}


.panels {
  position: relative;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.065);
}

.floatNumber {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  margin: 15px;
  padding: 5px 10px;
  border-radius: 20px;
}

.positiveFloat {
  background: #EAF9EF;
  color: #54c370;
}

.NegativeFloat {
  background: #feeaea;
  color: #f4504f;
}

.titleCards {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 25px;
}

.titleCards span {
  color: #415BA6;
  margin-right: 15px;
}

.cardMenu {
  position: relative;
  border: 1px solid #021C70;
  margin: auto;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  min-height: 70px;
  overflow: hidden;
}

.cardMenu:hover {
  cursor: pointer;
  background: #f5f7ff;
}

.cardMenuIcon {
  background: #021C70;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  position: absolute;
  line-height: 40px;
  font-size: 18px;
  margin-right: 15px;
  left: 0;
  top: 0;
  margin: 15px;
}

.cardMenuTitle {
  position: relative;
  text-align: left;
  margin-left: 50px;
  text-transform: uppercase;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

label.labelInput {
  position: absolute;
  font-size: 11px;
  margin: -10px 0px 0 5px;
  padding: 0;
  color: #021C70;
  border-radius: 4px;
  display: none;
}

.inputClass {
  border: none;
  border-bottom: 1px solid #c6c6c6;
  border-radius: 0;
  padding-bottom: 0;
  background: #f9f9f9;
  font-size: 12px;
  width: 100%;
  padding: 15px 15px 3px 10px;
  color: #707981;
}

.inputClass:focus-visible {
  outline: 0px
}

.tContent {
  background: #f9f9f9;
  width: 50%;
  text-align: center;
  font-weight: 600;
  line-height: 12px;
  padding: 15px;
  font-size: 18px;
}

.tContent span {
  color: #021C70;
  font-weight: 300;
  font-size: 12px;
}

ul.opcionActivo {
  list-style: none;

}

ul.opcionActivo li {
  display: inline;
}

ul.opcionActivo li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgb(29 139 250);
  color: #021C70;
  border-radius: 8px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.opcionActivo li label {
  padding: 8px 12px;
  cursor: pointer;
  min-width: 115px;
  text-align: center;
}

ul.opcionActivo li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform .3s ease-in-out;
}

ul.opcionActivo li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.opcionActivo li input[type="checkbox"]:checked + label {
  border: 2px solid #021C70;
  background-color: #021C70;
  color: #fff;
  transition: all .2s;
}

ul.opcionActivo li input[type="checkbox"] {
  display: absolute;
}

ul.opcionActivo li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.opcionActivo li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

ul.opcionActivo li input[type="radio"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.opcionActivo li input[type="radio"]:checked + label {
  border: 2px solid #021C70;
  background-color: #021C70;
  color: #fff;
  transition: all .2s;
}

ul.opcionActivo li input[type="radio"] {
  display: absolute;
}

ul.opcionActivo li input[type="radio"] {
  position: absolute;
  opacity: 0;
}

ul.opcionActivo li input[type="radio"]:focus + label {
  border: 2px solid #e9a1ff;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .loginBody {
    background-image: url(../img/backlogin.png);
    background-size: 75%;
    background-color: #021C70;
  }


  .panelMovil {
    transition-timing-function: ease-out;
    left: 0%;
  }


  .closemenu {
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: 1.5s;
    transition-timing-function: ease-out;
    opacity: 1;
    display: block;
  }


  .search {
    display: none !important;
  }

  .panels {
    overflow: auto;
  }

}
