<nav ngbNav
     #nav = "ngbNav"
     class = "nav-tabs " >
  <ng-container ngbNavItem
                *ngIf = "ifHaveAction(createParking)" >
    <a
      ngbNavLink ><em class = "fas fa-plus-square" ></em > Nuevo parqueo</a >
    <ng-template ngbNavContent >
      <app-new-parking ></app-new-parking >
    </ng-template >
  </ng-container >
  <ng-container ngbNavItem
                *ngIf = "ifHaveAction(listParking)" >
    <a ngbNavLink ><em class = "fas fa-parking" ></em > Parqueos</a >
    <ng-template ngbNavContent >
      <app-parking ></app-parking >
    </ng-template >
  </ng-container >
  <ng-container ngbNavItem
                *ngIf = "ifHaveAction(listParking)" >
    <a ngbNavLink ><em class = "fas fa-calendar-check" ></em > Parqueos mensuales</a >
    <ng-template ngbNavContent >
      <app-monthly-parking ></app-monthly-parking >
    </ng-template >
  </ng-container >
</nav >
<div [ngbNavOutlet] = "nav"
     class = "mt-2" ></div >
