<nav #nav = "ngbNav"
     class = "nav-tabs animate__animated animate__zoomInLeft "
     ngbNav >
  <ng-container *ngIf = "ifHaveAction(createParking)"
                ngbNavItem >
    <a
      ngbNavLink ><em class = "fas fa-plus-square" ></em > Nuevo parqueo</a >
    <ng-template ngbNavContent >
      <app-parked ></app-parked >
    </ng-template >
  </ng-container >
  <ng-container *ngIf = "ifHaveAction(listParkedParking)"
                ngbNavItem >
    <a ngbNavLink ><em class = "fas fa-parking" ></em > Parqueos</a >
    <ng-template ngbNavContent >
      <app-parked ></app-parked >
    </ng-template >
  </ng-container >
  <ng-container *ngIf = "ifHaveAction(listMonthlyParking)"
                ngbNavItem >
    <a ngbNavLink ><em class = "fas fa-calendar-check" ></em > Parqueos mensuales</a >
    <ng-template ngbNavContent >
      <app-monthly-parking ></app-monthly-parking >
    </ng-template >
  </ng-container >
  <ng-container *ngIf = "ifHaveAction(listAntennas)"
                ngbNavItem >
    <a ngbNavLink ><em class = "fas fa-broadcast-tower" ></em > Antenas</a >
    <ng-template ngbNavContent >

      <div class = "row justify-content-center" >
        <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
          <div class = "panels" >
            <div class = "titleCards" >
              <span ><em class = "fas fa-broadcast-tower" ></em ></span > Configuración de antenas
            </div >
            <app-antennas [parkingId] = "this.parkingId" ></app-antennas >
          </div >
        </div >
      </div >
    </ng-template >
  </ng-container >
  <ng-container *ngIf = "ifHaveAction(listAntennas)"
                ngbNavItem >
    <a ngbNavLink ><em class = "fas fa-broadcast-tower" ></em > Cortesías estacionarias</a >
    <ng-template ngbNavContent >

      <div class = "row justify-content-center" >
        <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
          <div class = "panels" >
            <div class = "titleCards" >
              <span ><em class = "fas fa-broadcast-tower" ></em ></span > Cortesías estacionarias
            </div >
            <app-stationary-courtesy ></app-stationary-courtesy >
          </div >
        </div >
      </div >
    </ng-template >
  </ng-container >
</nav >
<div [ngbNavOutlet] = "nav"
     class = "mt-2" ></div >
