<div class='row justify-content-center'>
  <form [formGroup]='stationaryForm' class='needs-validation animate__animated animate__fadeInLeft form-group'
        id='form-wrapper' method='post' name='form-wrapper' novalidate=''>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <div class='panels'>
        <div class='titleCards'>
          <span><em class='fas fa-broadcast-tower'></em></span> Cortesías estacionarias
        </div>
        <div class=''>
          <div class='row'>
            <div *ngIf='!loading' class='titleCards'>
              Crear cortesía estacionaria
            </div>
            <div *ngIf='ifHaveAction(createCourtesyStationary)'>
              <div class='row justify-content-center'>
                <div *ngIf='isSudo' class='col-md-4 col-sm-12'>
                  <div class='m-3 relative '>
                    <app-select-container (change)='searchAntennasByParking()' [data]='this.allParking'
                                          [formGroup]='this.stationaryForm' controlName='parkingId'
                                          name='Parqueos'></app-select-container>

                  </div>
                </div>
                <div class='col-md-4 col-sm-12'>
                  <div class='m-3 relative '>
                    <app-select-container [data]=' this.typeCourtesies' [formGroup]='this.stationaryForm'
                                          controlName='type' name='Tipos de cortesía'></app-select-container>
                  </div>
                </div>
              </div>

              <div class='row justify-content-center'>
                <div class='col-md-4 col-sm-12'>
                  <div class='m-3 relative '>
                    <app-input-container [formGroup]='stationaryForm' controlName='name' name='Nombre de la cortesía'>
                    </app-input-container>
                  </div>
                </div>
                <div class='col-md-4 col-sm-12'>
                  <div class='m-3 relative '>
                    <app-input-container [formGroup]='stationaryForm' controlName='value' name='Valor de la cortesia'
                                         type='number'>
                    </app-input-container>
                  </div>
                </div>
              </div>
              <div class='row justify-content-center'>
                <div class='col-md-4 col-sm-12 '>
                  <div class='m-3 relative  '>
                    <app-select-container
                      [data]=' this.allAntennas'
                      [formGroup]='this.stationaryForm'
                      controlName='stationId'
                      name='Estaciones'
                      style='position: relative; display: inline-block; width: 100%;'>
                    </app-select-container>
                    <button *ngIf='ifHaveAction(addStationsCourtesyStationary)'
                            class='btn-primary btn-input animate__animated animate__fadeInDown'
                            data-bs-target='#exampleModal'
                            data-bs-toggle='modal' style='    position: absolute;
                      right: 0;
                    display: inline-block;
                    padding: 9px!important;' type='button'>+
                    </button>
                  </div>

                </div>
                <div class='col-xl-4 col-lg-6 col-sm-12'>
                  <div class='m-3 relative'>
                 <app-select-container [data]='allCompanies' [formGroup]='stationaryForm' controlName='companyId'
                                          name='Locales'>
                    </app-select-container>
                  </div>
                </div>
              </div>
              <div class='row '>
                <div class='d-grid gap-2 d-md-flex justify-content-md-center m-3'>
                  <button (click)='addStationaryCourtesies()'
                          class='btn btn-primary animate__animated animate__fadeInDown' type='button'>Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='panels'>

        <div class='row'>
          <table [dtOptions]='dtOptions' [dtTrigger]='dtTrigger' aria-label='Tabla de cortesías estacionarias'
                 class='table hover table-striped animate__animated animate__fadeInLeft ' datatable>
            <thead>
            <tr class='text-center'>
              <th scope='col'>Nombre de cortesía</th>
              <th scope='col'>Tipo</th>
              <th scope='col'>Valor</th>
              <th scope='col'>Local</th>
              <th scope='col'>Cortesía estacionaria</th>
              <th scope='col' style='width: 17%'>Creada en:
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let antenna of stationsCourtesies; index as i'
                class='animate__animated animate__fadeIn text-center'>
              <th id='{{antenna.name + i}}'>{{antenna.courtesy_detail?.name || 'Sin nombre' | titlecase}} </th>
              <td>{{this.getTypeDescription(antenna.courtesy_detail!.type).name | titlecase}}</td>
              <td>{{antenna.courtesy_detail!.value || 'Sin valor'| courtesyValue: antenna.courtesy_detail!.type}}</td>
              <td>{{antenna.courtesy_detail!.company?.name}}</td>
              <td>{{antenna.name | titlecase}}</td>
              <td>{{antenna.created_at | date: 'medium'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div aria-hidden='true' aria-labelledby='exampleModalLabel' class='modal fade ' id='exampleModal' tabindex='-1'>
  <div class='modal-dialog modal-xl '>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Administrar antenas de cortesías estáticas</h5>
        <button aria-label='Close' class='btn-close' data-bs-dismiss='modal' type='button'></button>
      </div>
      <div class='modal-body'>
        <app-antennas-from-courtesy (stationsSaved)='searchAntennasByParking()' [parkingId]='this.parkingId'>
        </app-antennas-from-courtesy>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-secondary' data-bs-dismiss='modal' type='button'>Close
        </button>

      </div>
    </div>
  </div>
</div>
