<div class="row justify-content-center">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panels">
      <div class="titleCards">
        <span><em class="fas fa-sitemap"></em></span>Crear Parqueos mensuales
      </div>
      <form *ngIf="ifHaveAction(createMonthlyParking)"
            [formGroup]="monthlyForm">
        <div class="row justify-content-center mb-4 ">
          <div class="col-md-12 col-sm-12">
            <div class="row justify-content-center ">
              <div class="col-xl-6 col-lg-6 col-md-12 text-center mb-4 animate__animated animate__fadeInLeft">
                <h6>Seleccione un usuario</h6>
                <div class="input-group mb-3">
                  <input [value]="nameTelephone"
                         aria-describedby="button-addon2"
                         aria-label="Seleccionar usuario"
                         class="form-control inputClass"
                         placeholder="Buscar Usuario"
                         type="text">
                  <div class="iconInput">
                    <em class="fas fa-search"></em>
                  </div>
                  <button data-bs-target="#staticBackdrop"
                          data-bs-toggle="modal" style="position: absolute; width: 100%; height: 100%;  opacity: 0;"
                          type="button">
                  </button>
                </div>
                <small *ngIf="nameTelephone.length<=0"
                       class="text-info animate__animated animate__rotateIn">* Este campo es obligatorio.</small>
              </div>
              <!-- Modal -->
              <div aria-hidden="true"
                   aria-labelledby="staticBackdropLabel"
                   class="modal fade"
                   id="staticBackdrop"
                   tabindex="-1">
                <div class="modal-dialog modal-md modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"
                          id="staticBackdropLabel">Seleccionar usuario</h5>
                      <button aria-label="Close"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              type="button"></button>
                    </div>
                    <div class="modal-body">
                      <div class="input-group-sm input-group mb-3">
                        <input (change)="searchUser()"
                               (keydown.enter)="searchUser()"
                               aria-describedby="basic-addon1"
                               aria-label="Número de teléfono"
                               class="inputClass form-control"
                               formControlName="telephone"
                               placeholder="Número de teléfono"
                               type="number">
                        <button (click)="searchUser()"
                                class="btn btn-primary btn-input"
                                type="button">
                          <em class="fas fa-search"></em>
                        </button>
                      </div>
                      <div *ngIf="loadingUser"
                           class="progress mb-5">
                        <div aria-valuemax="100"
                             aria-valuemin="0"
                             aria-valuenow="75"
                             class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             style="width: 100%"></div>
                      </div>
                      <div class="list-group">
                        <button (click)="userSelect(user)"
                                *ngFor="let user of userSearched"
                                class="list-group-item list-group-item-action "
                                data-bs-dismiss="modal" type="button">
                          {{user.name + ' ' + user.last_name + ' Teléfono: ' + user.phone_number}}
                        </button>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary"
                              data-bs-dismiss="modal"
                              type="button">Cancelar
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="col-md-6 col-sm-12 animate__animated animate__fadeInRight">
            <div class="row justify-content-center">
              <div class="col-xl-12 col-lg-12 col-sm-12 text-center  text-center">
                <h6>Tipo de parqueo</h6>
                <ul class="opcionActivo">
                  <li class="m-1">
                    <input (change)="changeValueIsUnlimited()"
                           Name="isUnlimited"
                           checked
                           id="radioOne" type="radio">
                    <label
                      for="radioOne">Ilimitado</label>
                  </li>
                  <li class="m-1">
                    <input (change)="changeValueIsUnlimited()"
                           Name="isUnlimited"
                           id="radioTwo"
                           type="radio">
                    <label
                      for="radioTwo">Por fecha</label>
                  </li>
                </ul>
              </div>
              <div class="col-xl-8 col-md-12 col-sm-12 mb-4 ">
                <div *ngIf="!this.isUnlimitedForm.value"
                     class="animate__animated animate__fadeInUp ">
                  <div class="col-xl-12 col-lg-12 col-sm-12">
                    <div class="mb-5 relative">
                      <label class="labelInput"
                             for="dateInOut"
                             style="display:block">Fecha de inicio</label>
                      <input
                        class="form-control inputClass datetimepicker"
                        formControlName="begin_date"
                        id="dateInOut"
                        name="Appointment_time"
                        placeholder="Fecha/Hora de entrada"
                        type="date">
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12  col-sm-12">
                    <div class="mb-4 relative">
                      <label class="labelInput"
                             for="dateEnd"
                             style="display:block">Fecha de fin</label>
                      <input
                        class="form-control inputClass datetimepicker"
                        formControlName="finish_date"
                        id="dateEnd"
                        name="Appointment_time"
                        placeholder="Fecha/Hora de salida"
                        type="date">
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <hr>
          <div class="col-xl-12 col-lg-12 col-sm-12 text-center animate__animated animate__fadeInLeft">
            <h6>Días habilitados para entrada</h6>
            <ul class="opcionActivo">
              <li class="m-1"><input formControlName="monday"
                                     id="checkboxOne"
                                     type="checkbox"
                                     value="Lunes"><label for="checkboxOne">Lunes</label></li>
              <li class="m-1"><input formControlName="tuesday"
                                     id="checkboxTwo"
                                     type="checkbox"
                                     value="Martes"><label for="checkboxTwo">Martes</label></li>
              <li class="m-1"><input formControlName="wednesday"
                                     id="checkboxThree"
                                     type="checkbox"
                                     value="Miércoles"><label for="checkboxThree">Miércoles</label></li>
              <li class="m-1"><input formControlName="thursday"
                                     id="checkboxFour"
                                     type="checkbox"
                                     value="Jueves"><label for="checkboxFour">Jueves</label></li>
              <li class="m-1"><input formControlName="friday"
                                     id="checkboxFive"
                                     type="checkbox"
                                     value="Viernes"><label for="checkboxFive">Viernes</label></li>
              <li class="m-1"><input formControlName="saturday"
                                     id="checkboxSix"
                                     type="checkbox"
                                     value="Sábado"><label for="checkboxSix">Sábado</label></li>
              <li class="m-1"><input formControlName="sunday"
                                     id="checkboxSeven"
                                     type="checkbox"
                                     value="Domingo"><label for="checkboxSeven">Domingo</label></li>
            </ul>
          </div>
          <hr>

          <div class="col-xl-4 col-lg-4 col-sm-12 text-center mb-4 animate__animated animate__fadeInRight">
            <h6>Perfil de acceso</h6>
            <div class="input-group">
              <select aria-label="Default select example"
                      class="form-select inputClass"
                      formControlName="profile_subscription">
                <option selected
                        value="">Sin perfil de acceso
                </option>
                <option *ngFor="let profile of profiles"
                        [value]="profile.id">{{profile.name }}</option>
              </select>
              <!-- Button trigger modal -->
              <div class="input-group-append">
                <button *ngIf="ifHaveAction(createAccessProfileMonthlyParking)"
                        class="btn btn-primary btn-input"
                        data-bs-target="#newAccessProfiles"
                        data-bs-toggle="modal"
                        type="button">
                  <em class="fas fa-plus"></em>
                </button>
              </div>
            </div>
            <small class="text-info animate__animated animate__rotateIn">* Si cuenta con distintos accesos privados
              dentro del establecimiento, selecciones a cuales se les dara acceso.</small>
          </div>
          <hr>

          <div class="col-xl-4 col-lg-6  col-sm-12 text-center animate__animated animate__fadeInLeft">
            <div class="mb-4 relative">
              <h6>Tarifa</h6>
              <label class="labelInput">Cobro</label>
              <input [class.is-invalid]="controlInvalid('amount')"
                     class="form-control inputClass"
                     formControlName="amount"
                     min="0.00"
                     placeholder="Monto mensual:"
                     step="0.01"
                     type="number">
              <small *ngIf="controlInvalid('amount')"
                     class="text-danger animate__animated  animate__rotateIn">* Este campo es obligatorio</small>
            </div>
          </div>
          <hr>
          <div class="col-xl-12 col-lg-12 col-sm-12 animate__animated animate__fadeInRight">
            <div class="text-center">
              <button (click)="createMonthly()"
                      class="btn btn-primary ">Crear
              </button>
            </div>
          </div>
        </div>
      </form>
      <hr>
    </div>
  </div>
</div>
<div aria-hidden="true"
     aria-labelledby="staticBackdropLabel"
     class="modal fade"
     id="newAccessProfiles"
     tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear perfil de acceso</h5>
        <button aria-label="Close"
                class="btn-close"
                data-bs-dismiss="modal"
                type="button"></button>
      </div>
      <div
        class="modal-body">
        <div *ngIf="stationsByParking.length > 0">
          <div class="input-group mb-3">
                        <span class="input-group-text"
                              id="perfilName">Nombre del perfil</span>
            <input [(ngModel)]="nameProfile"
                   aria-describedby="basic-addon1"
                   aria-label="Nombre del perfil"
                   class="form-control "
                   placeholder="Nombre del perfil"
                   type="text">
          </div>
          <div class="list-group">
            <label *ngFor="let station of stationsByParking"
                   class="list-group-item">
              <input [(ngModel)]="station.addStation"
                     class="form-check-input me-1"
                     type="checkbox"
                     value="">
              {{station.name}}
            </label>
          </div>
        </div>
        <div *ngIf="stationsByParking.length <= 0">
          <div class=""
               role="alert">
            <h4 class="alert-heading">No se encontraron estaciones privadas</h4>
            <p>Para crear un perfil, es necesario tener estaciones privadas. Las estaciones privadas pueden
              configurarse al crear un parqueo nuevo o en la sección de estaciones.
              Las estaciones privadas permiten a los usuarios ser accedidas solo por las personas que tengan uno de
              los perfiles de
              acceso habilitados.</p>
            <hr>
            <p class="mb-0">Si usted cree que este mensaje es un error, o desea mas información, por favor
              comunicarse
              con el administrador.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="createNewProfile()"
                *ngIf="stationsByParking.length> 0"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                type="button">Crear perfil

        </button>

        <button class="btn btn-secondary"
                data-bs-dismiss="modal"
                type="button">Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
