<div *ngIf = "costType==1"
     class = "animate__animated animate__fadeInUp ">
  <h4>Hora / Fracción</h4>
  <form [formGroup] = "hourAHalfForm"
        action = "">
    <div class = "row ">
      <div *ngIf = "isHourReadOnly"
           class = "col-md-4">
        <app-input-container [formGroup] = 'hourAHalfForm'
                             controlName = 'hourCost'
                             name = 'Precio por hora'
                             type = 'number'>
        </app-input-container>
      </div>
      <div class = "col-md-4">
        <app-input-container [formGroup] = 'hourAHalfForm'
                             controlName = 'halfCost'
                             name = 'Precio por fracción'
                             type = 'number'>
        </app-input-container>

      </div>
      <div class = "col-md-4">
        <app-input-container [formGroup] = 'hourAHalfForm'
                             controlName = 'whenIsAHalf'
                             name = 'Cobrar cuando lleve x minutos'
                             type = 'number'>
        </app-input-container>
      </div>
      <div class = "col-md-4">
        <app-input-container [formGroup] = 'hourAHalfForm'
                             controlName = 'subtract'
                             name = 'Restar al total de horas'
                             type = 'number'>
        </app-input-container>
      </div>
    </div>
  </form>
</div>
