<form action = "" >
  <div class = "panels animate__animated animate__fadeInLeft" >
    <div class = "titleCards" >
      <span ><em class = "fas fa-user" ></em ></span > Roles y permisos
    </div >
    <div class = "row" >
      <div class = "col-xl-4 col-lg-8 col-md-12 col-xs-12" >
        <div class = "mb-4 relative" >
          <label class = "labelInput" >Roles</label >
          <select
            class = "inputClass"
            [(ngModel)] = "roleIdSelected"
            name = "roleId"
            id = "roleId"
            (change) = "changeRole()" >
            <option value = "" >TIPO DE USUARIO</option >
            <option *ngFor = "let role of Roles"
                    value = "{{role.id}}" >{{role.name}}</option >
          </select >

        </div >
      </div >

      <div  class = "row" >
        <div *ngFor = "let module of getModules; index as i" class=" col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="panels">
          <div class="title">{{module | titlecase}}</div>
          <div class = "text-center" >
            <div class = "btn-group"
                 role = "group"
                 aria-label = "Basic checkbox toggle button group" >
              <div class = "row" >
                <div>
                  <ul class="opcionActivo">
                  <li *ngFor = " let item of getPermissionsForModules(module)"><input type = "checkbox"
                         class = "form-check-input"
                         value = "{{item.checked}}"
                         id = "{{item.id}}"
                         [(ngModel)] = "item.checked"
                         name = "{{item.description}}"
                         autocomplete = "off" >
                  <label class = "form-check-label ms-2"
                         [for] = "item.id" > {{  item.description}}</label ></li></ul>
                </div >
              </div >
            </div >
          </div >
        </div>
        </div>
      </div >
    </div >
    <div class = "col-sm-12 text-center" >
      <button class = "btn btn-primary"
              (click) = "savePermissions()" >Guardar
      </button >
    </div >
  </div >
</form >
