<div class="panels animate__animated animate__fadeInLeft">
  <div class="titleCards">
    <span><i class="fas fa-user-plus"></i></span> Nuevo usuario
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12  col-sm-12">
      <div class="mb-4 relative">
        <label class="labelInput">Nombre </label>
        <input class="form-control inputClass" placeholder="NOMBRE:" type="text">
      </div>
    </div>
    <div class="col-xl-12 col-lg-12  col-sm-12">
      <div class="mb-4 relative">
        <label class="labelInput">Apellido</label>
        <input class="form-control inputClass" placeholder="APELLIDO:" type="text">
      </div>
    </div>
    <div class="col-xl-12 col-lg-12  col-sm-12">
      <div class="mb-4 relative">
        <label class="labelInput">Celular</label>
        <input class="form-control inputClass" placeholder="TELÉFONO:" type="text">
      </div>
    </div>
    <div class="col-xl-12 col-lg-12  col-sm-12">
      <div class="mb-4 relative">
        <label class="labelInput">Email</label>
        <input class="form-control inputClass" placeholder="EMAIL:" type="text">
      </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12">
      <div class="mb-4 relative">
        <label class="labelInput">Área</label>
        <select class="inputClass" id="" name="">
          <option value="">TIPO DE USUARIO</option>
          <option value="">Administración</option>
          <option value="">Admin-Empresa</option>
          <option value="">Consultas</option>
        </select>
      </div>
      <div class="col-xl-12 col-lg-12  col-sm-12">
        <div class="mb-4 relative">
          <label class="labelInput">Nombre de usuario</label>
          <input class="form-control inputClass" placeholder="NOMBRE DE USUARIO:" type="text">
        </div>
      </div>

    </div>
    <div class="col-xl-12 col-lg-12 col-sm-12">
      <div class="text-center">
        <button class="btn btn-primary " onclick="location.href='#'">GUARDAR</button>
        <button class="btn btn-secundary " onclick="location.href='#'">Limpiar</button>
      </div>
      <div class="mb-4 relative"></div>
    </div>
  </div>
</div>
