.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  border: 1px solid #415ba1;
  background-color: white;
  background: #415ba1;
  background-image: #415ba1;

}

a.paginate_button.current {
  background: #415ba1 !important;
  color: #fff !important;
}
