<div class = "content-value Cortesias">
  <div id = "dia">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class = "panelsWithOutMinHeight ">
        <div class = "titleCards">
          <span><em class = "fas fa-chart-bar"></em></span> Filtros
        </div>
        <div class = "row justify-content-center">

          <div *ngIf = "ifHaveAction(verTodosLosParqueosDashboard)"
               class = "col-xl-4 col-lg-6 col-sm-12">
            <div class = "mb-4 relative">
              <label class = "labelInput"
                     style = "display:block">Parqueo</label>
              <select #inputParkingCortesiasDia
                      class = "inputClass"
                      formControlName = "inputParkingCortesiasDia"
                      name = "inputParkingCortesiasDia">
                <option value = "0">---- Todos los parqueos ----</option>
                <option *ngFor = "let parking of this.allParking"
                        value = "{{parking.id}}">{{parking.name}}</option>
              </select>
            </div>
          </div>
          <div class = "col-xl-4 col-lg-6 col-sm-12">
            <div class = "mb-4 relative">
              <label class = "labelInput"
                     style = "display:block">Fecha</label>
              <input #inputFechaCortesiasDia
                     class = "form-control inputClass datetimepicker"
                     formControlName = "inputFechaCortesiasDia"
                     max = "{{nowDateTime | date: 'yyyy-MM-dd'}}"
                     name = "inputFechaCortesiasDia"
                     placeholder = "Fecha/Hora"
                     type = "date"
                     value = {{fechaCortesiasDia}}>
            </div>
          </div>
          <div class = "col-xl-12 col-lg-12 col-sm-12">
            <div class = "text-center">
              <button (click) = "searchDia(cortesias)"
                      class = "btn btn-primary m-2"><span><em
                class = "fas fa-search"></em></span> Buscar
              </button>

            </div>
          </div>
          <app-card-kpi [fecha] = "fechaCortesiasDia"
                        [parking] = "parqueoCortesiasDia"
                        [periodo] = "periodoDia"
                        [titulo] = "'Total de cortesias por día'"
                        [valorMostrar] = "'TotalCortesias'"></app-card-kpi>
        </div>
      </div>
    </div>
    <div class = "row content">
      <div class = "col-lg-4">

      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasDia"
                      [parking] = "parqueoCortesiasDia"
                      [periodo] = "periodoDia"
                      [titulo] = "'Locales con cortesias por día'"
                      [valorMostrar] = "'TotalLocales'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasDia"
                      [parking] = "parqueoCortesiasDia"
                      [periodo] = "periodoDia"
                      [titulo] = "'Local con más cortesias por día'"
                      [valorMostrar] = "'LocalMasCortesias'"></app-card-kpi>
      </div>
    </div>
    <app-courtesy-chart [company] = "'0'"
                        [fecha] = "fechaCortesiasDia"
                        [parking] = "parqueoCortesiasDia"
                        [periodo] = "periodoDia"
                        [tipo] = "cortesias"></app-courtesy-chart>
    <app-bar-chart [fecha] = "fechaCortesiasDia"
                   [parking] = "parqueoCortesiasDia"
                   [periodo] = "periodoDia"
                   [tipoChart] = "tipoCortesias"
                   [tipo] = "cortesias"></app-bar-chart>
  </div>
  <div id = "mes">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class = "panelsWithOutMinHeight ">
        <div class = "titleCards">
          <span><em class = "fas fa-chart-bar"></em></span> Filtros
        </div>
        <div class = "row justify-content-center">
          <div class = "row">
            <div *ngIf = "ifHaveAction(verTodosLosParqueosDashboard)"
                 class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Parqueo</label>
                <select #inputParkingCortesiasMes
                        class = "inputClass"
                        formControlName = "parking">
                  <option value = "0">---- Todos los parqueos ----</option>
                  <option *ngFor = "let parking of this.allParking"
                          value = "{{parking.id}}">{{parking.name}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Año</label>
                <select #inputCortesiasMesAnio
                        class = "inputClass"
                        ngControl = "inputCortesiasMesAnio"
                        ngModel = "inputCortesiasMesAnio">
                  <option *ngFor = "let opt of AniosSelect"
                          [selected] = "opt.key == AnioActual"
                          [value] = "opt.key">
                    {{opt.valor}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Mes</label>
                <select #inputCortesiasMes
                        class = "inputClass"
                        ngControl = "inputCortesiasMes"
                        ngModel = "inputCortesiasMes">
                  <option *ngFor = "let opt of monthFiltered"
                          [selected] = "opt.key == MesActual"
                          [value] = "opt.key">
                    {{opt.valor}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-12 col-lg-12 col-sm-12">
              <div class = "text-center">
                <button (click) = "searchMes(cortesias)"
                        class = "btn btn-primary m-2"><span><em
                  class = "fas fa-search"></em></span> Buscar
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "row content">
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasMes"
                      [parking] = "parqueoCortesiasMes"
                      [periodo] = "periodoMes"
                      [titulo] = "'Total de cortesias por mes'"
                      [valorMostrar] = "'TotalCortesias'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasMes"
                      [parking] = "parqueoCortesiasMes"
                      [periodo] = "periodoMes"
                      [titulo] = "'Locales con cortesias por mes'"
                      [valorMostrar] = "'TotalLocales'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasMes"
                      [parking] = "parqueoCortesiasMes"
                      [periodo] = "periodoMes"
                      [titulo] = "'Local con más cortesias por mes'"
                      [valorMostrar] = "'LocalMasCortesias'"></app-card-kpi>
      </div>
    </div>
    <app-courtesy-chart [company] = "'0'"
                        [fecha] = "fechaCortesiasMes"
                        [parking] = "parqueoCortesiasMes"
                        [periodo] = "periodoMes"
                        [tipo] = "cortesias"></app-courtesy-chart>
    <app-bar-chart [fecha] = "fechaCortesiasMes"
                   [parking] = "parqueoCortesiasMes"
                   [periodo] = "periodoMes"
                   [tipoChart] = "tipoCortesias"
                   [tipo] = "cortesias"></app-bar-chart>
  </div>
  <div id = "anio">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class = "panelsWithOutMinHeight ">
        <div class = "titleCards">
          <span><em class = "fas fa-chart-bar"></em></span> Filtros
        </div>
        <div class = "row justify-content-center">
          <div class = "row">
            <div *ngIf = "ifHaveAction(verTodosLosParqueosDashboard)"
                 class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Parqueo</label>
                <select #inputParkingCortesiasAnio
                        class = "inputClass"
                        formControlName = "parking">
                  <option value = "0">---- Todos los parqueos ----</option>
                  <option *ngFor = "let parking of this.allParking"
                          value = "{{parking.id}}">{{parking.name}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Año</label>
                <select #inputCortesiasAnio
                        class = "inputClass"
                        formControlName = "inputCortesiasAnio">
                  <option *ngFor = "let opt of AniosSelect"
                          [selected] = "opt.key == AnioActual"
                          [value] = "opt.key">
                    {{opt.valor}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-12 col-lg-12 col-sm-12">
              <div class = "text-center">
                <button (click) = "searchAnio(cortesias)"
                        class = "btn btn-primary m-2"><span><em
                  class = "fas fa-search"></em></span> Buscar
                </button>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class = "row content">
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasAnio"
                      [parking] = "parqueoCortesiasAnio"
                      [periodo] = "periodoAnio"
                      [titulo] = "'Total de cortesias por año'"
                      [valorMostrar] = "'TotalCortesias'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasAnio"
                      [parking] = "parqueoCortesiasAnio"
                      [periodo] = "periodoAnio"
                      [titulo] = "'Locales con cortesias por año'"
                      [valorMostrar] = "'TotalLocales'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasAnio"
                      [parking] = "parqueoCortesiasAnio"
                      [periodo] = "periodoAnio"
                      [titulo] = "'Local con más cortesias por año'"
                      [valorMostrar] = "'LocalMasCortesias'"></app-card-kpi>
      </div>
    </div>
    <app-courtesy-chart [company] = "'0'"
                        [fecha] = "fechaCortesiasAnio"
                        [parking] = "parqueoCortesiasAnio"
                        [periodo] = "periodoAnio"
                        [tipo] = "cortesias"></app-courtesy-chart>
    <app-bar-chart [fecha] = "fechaCortesiasAnio"
                   [parking] = "parqueoCortesiasAnio"
                   [periodo] = "periodoAnio"
                   [tipoChart] = "tipoCortesias"
                   [tipo] = "cortesias"></app-bar-chart>
  </div>
</div>
