<nav #nav="ngbNav"
     class="nav-tabs "
     ngbNav>

  <!-- <ng-container *ngIf="ifHaveAction(tariffTest)"-->
  <ng-container *ngIf="ifHaveAction(createUser)"
                ngbNavItem>
    <a
      ngbNavLink><em class="fas fa-users"></em> Usuarios</a>
    <ng-template ngbNavContent>
      <app-users></app-users>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="ifHaveAction(assignRole)"
                ngbNavItem>
    <a ngbNavLink><em class="fas fa-magic"></em> Roles</a>
    <ng-template ngbNavContent>
      <app-roles></app-roles>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="ifHaveAction(listLocal)"
                ngbNavItem>
    <a ngbNavLink><em class="fas fa-store"></em> Locales</a>
    <ng-template ngbNavContent>
      <app-company></app-company>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="ifHaveAction(listTariff)"
                ngbNavItem>
    <a ngbNavLink><em class="fas fa-comment-dollar"></em> Tarifas</a>
    <ng-template ngbNavContent>
      <app-tariff [isCreatingParking]="false" [parkingId]="parkingId"></app-tariff>
    </ng-template>
  </ng-container>
  <ng-container *ngIf='ifHaveAction(tariffTest)'
    ngbNavItem>
    <a
      ngbNavLink><em class="fas fa-users"></em> Prueba de Tarifa</a>
    <ng-template ngbNavContent>
      <app-tariff-test></app-tariff-test>
    </ng-template>
  </ng-container>
  <ng-container *ngIf="ifHaveAction(listSchedules)"
                ngbNavItem>
    <a ngbNavLink><em class="fas fa-clock"></em> Horarios</a>
    <ng-template ngbNavContent>
      <app-schedule [parkingId]="parkingId"></app-schedule>
    </ng-template>
  </ng-container>
  <ng-container *ngIf = "ifHaveAction(listUserApp)"
                ngbNavItem>
    <a
      ngbNavLink><em class="fas fa-users"></em> Usuarios App</a>
    <ng-template ngbNavContent>
      <app-users-app></app-users-app>
    </ng-template>
  </ng-container>
</nav>
<div [ngbNavOutlet]="nav"
     class="mt-2"></div>
