<div class = "row" >
  <div class = " col-md-12 col-xl-6 animate__animated animate__fadeInDown" >
    <div class = "alert alert-success animate__animated animate__zoomInDown"
         *ngIf = "disableRanges"
         role = "alert" >
      <p class = "mb-0" >Esto ya no es editable, ahora elige el costo que se aplicará a este rango.</p >
    </div >
    <h1 class = "display-6"
    >Rango de tiempo</h1 >
    <div class = "btn-group"
         role = "group"
         aria-label = "Basic radio toggle button group" >
      <input type = "radio"
             class = "btn-check "
             name = "rangeTime"

             (click) = "timeRange=1"
             id = "holidayTxt"
             autocomplete = "off"
             checked >
      <label class = "btn btn-outline-success m-1"
             for = "holidayTxt" >Días festivo</label >

      <input type = "radio"
             class = "btn-check "
             name = "rangeTime"
             (click) = "timeRange=2"
             id = "timeRange"
             autocomplete = "off" >
      <label class = "btn btn-outline-success m-1"
             for = "timeRange" >Por rangos</label >

      <input type = "radio"
             class = "btn-check"
             name = "rangeTime"
             (click) = "timeRange=3; costType = 2"
             id = "timeslot"
             autocomplete = "off" >
      <label class = "btn btn-outline-success m-1"
             for = "timeslot" >Por bloques</label >

      <input type = "radio"
             class = "btn-check"
             name = "rangeTime"
             id = "default"
             (click) = "timeRange=4"
             autocomplete = "off" >
      <label class = "btn btn-outline-success m-1"
             for = "default" >Default</label >
    </div >
    <div class = "row mt-md-2 mt-xl-3 mt-4" >
      <div *ngIf = "timeRange == 1"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Días festivos</h4 >

        <form action = ""
              [formGroup] = "holidayForm" >
          <div class = "input-group mb-3" >
            <span class = "input-group-text" >Desde</span >
            <input [readOnly] = "disableRanges"
                   type = "datetime-local"
                   [class.is-invalid] = "validateHolidayForm('from')"

                   formControlName = "from"
                   class = "form-control"
                   aria-describedby = "basic-addon1" >
            <small *ngIf = "validateHolidayForm('from')"
                   class = "text-danger" >* Este campo es obligatorio</small >
          </div >
          <div class = "input-group mb-3" >
            <span class = "input-group-text" >Hasta</span >
            <input [readOnly] = "disableRanges"
                   type = "datetime-local"
                   class = "form-control"
                   [class.is-invalid] = "validateHolidayForm('to')"

                   formControlName = "to"
                   aria-describedby = "basic-addon1" >
            <small *ngIf = "validateHolidayForm('to')"
                   class = "text-danger" >* Este campo es obligatorio</small >
          </div >
        </form >

      </div >
      <div *ngIf = "timeRange == 2"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Rango de horas</h4 >
        <form action = ""
              [formGroup] = "rankForm" >
          <div class = "input-group mb-3" >
            <span class = "input-group-text" >Desde</span >
            <input [readOnly] = "disableRanges"
                   type = "time"
                   [class.is-invalid] = "validateRankForm('from')"
                   class = "form-control"
                   formControlName = "from"
                   aria-describedby = "basic-addon1" >
            <small *ngIf = "validateRankForm('from')"
                   class = "text-danger" >* Este campo es obligatorio</small >
          </div >
          <div class = "input-group mb-3" >
            <span class = "input-group-text" >Hasta</span >
            <input [readOnly] = "disableRanges"
                   formControlName = "to"
                   [class.is-invalid] = "validateRankForm('to')"
                   type = "time"
                   class = "form-control"
                   aria-describedby = "basic-addon1" >
            <small *ngIf = "validateRankForm('to')"
                   class = "text-danger" >* Este campo es obligatorio</small >
          </div >
        </form >
      </div >
      <div *ngIf = "timeRange == 3"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Por bloques de hora</h4 >
        <form action = ""
              [formGroup] = "blockForm" >
          <div class = "input-group mb-3" >
            <span class = "input-group-text" >Cantidad de horas</span >
            <input [readOnly] = "disableRanges"
                   type = "number"
                   formControlName = "blockSize"
                   [class.is-invalid] = "validateBlockForm('blockSize')"
                   class = "form-control"
                   aria-describedby = "basic-addon1" >
            <small *ngIf = "validateBlockForm('blockSize')"
                   class = "text-danger" >* Este campo es obligatorio</small >
          </div >
        </form >
      </div >
      <div *ngIf = "timeRange == 4"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Por defecto</h4 >
        <p class = "lead" >
          Este se ejecutará siempre que no los datos no entren en ningún rango anterior o que no existan rangos
          anteriores.
        </p >
      </div >
    </div >
    <div class = " text-center mt-4" >
      <button type = "button"
              (click) = "disableRanges = !disableRanges"
              [ngClass] = "{'disabled': disableRanges}"
              class = "btn btn-warning btn-lg " >Elegir este
      </button >
    </div >
  </div >
  <div class = "col-xl-1 " ></div >
  <div class = "col-sm-12  col-md-12 col-xl-5 animate__animated animate__fadeInDown" >
    <h4 class = "display-6" >Tipo de costo</h4 >
    <div class = "btn-group"
         role = "group"
         aria-label = "Basic radio toggle button group" >
      <input [readOnly] = "disableRanges"
             type = "radio"
             class = "btn-check"
             name = "costType"
             (click) = "costType=1"
             id = "hourFraction"
             autocomplete = "off"
             checked >
      <label class = "btn btn-outline-success m-1 "
             [ngClass] = "{'disabled': timeRange ==3  }"
             for = "hourFraction" >Hora / Fracción</label >
      <input [readOnly] = "disableRanges"
             type = "radio"
             class = "btn-check "
             name = "costType"
             (click) = "costType=2"
             id = "fixedTariff"
             autocomplete = "off" >
      <label class = "btn btn-outline-success m-1"
             for = "fixedTariff" >Tarifa fija</label >
    </div >
    <div class = "row mt-4" >
      <div *ngIf = "costType==1"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Hora / Fracción</h4 >
        <div class = "row " >
          <div class = "input-group mb-3" >
            <span class = "input-group-text"
                  id = "basic-addon1" >Precio por hora</span >
            <input type = "number"
                   class = "form-control"
                   placeholder = "123.12"
                   aria-label = "cost"
                   aria-describedby = "basic-addon1" >
          </div >
        </div >
        <div class = "row " >
          <div class = "input-group mb-3" >
            <span class = "input-group-text" >Precio por fracción</span >
            <input type = "number"
                   class = "form-control"
                   placeholder = "123.12"
                   aria-label = "cost"
                   aria-describedby = "basic-addon1" >
          </div >
        </div >
      </div >
      <div *ngIf = "costType==2"
           class = "animate__animated animate__fadeInUp " >
        <h4 >Tarifa fija</h4 >

        <div class = "input-group mb-3" >
          <span class = "input-group-text" >Precio fijo</span >
          <input type = "number"
                 class = "form-control"
                 placeholder = "123.12"
                 aria-label = "cost"
                 aria-describedby = "basic-addon1" >
        </div >
      </div >
    </div >
    <div class = " text-center mt-4" >
      <button type = "button"
              (click) = "saveRule()"
              class = "btn btn-success btn-lg " >Guardar
      </button >
    </div >
  </div >
</div >
<div class = "m-4" >
  <hr >
</div >
<div class = "animate__animated animate__rotateInDownLeft" >
  <h1 class = "display-6 text-center" >Reglas de la tarifa para este parqueo</h1 >
  <!--  Reglas de tarifa  -->
  <div class = "me-5 ms-5 mb-2 animate__animated  animate__rotateInUpRight" >
    <div class = "card border-success mb-3" >
      <div class = "card-header" >Regla #1</div >
      <div class = "card-body text-success" >
        <h5 class = "card-title" >Tarifa fija</h5 >
        <p class = "card-text" >
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p >
      </div >
    </div >
  </div >
</div >
