<div [formGroup] = "formGroup"
     class = "relative m-2">
  <div>
    <label class = "labelInput"
           style = "display: block;">{{this.name}}</label>
    <input
      class = "inputClass"
      formControlName = "{{controlName}}"
      id = "name"
      placeholder = "{{name}}:"
      type = "{{type}}">
  </div>
  <small *ngIf = "controlInvalid(controlName)"
         class = "text-danger animate__animated animate__fadeIn">* El valor no es válido</small>
  <span *ngIf = "textInfo.length > 0"
        class = "text-muted">*{{textInfo}}</span>
</div>
