<div class = "content-value CortesiasEstacionarias">
  <div id = "dia">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class = "panelsWithOutMinHeight ">
        <div class = "titleCards">
          <span><em class = "fas fa-chart-bar"></em></span> Filtros
        </div>
        <div class = "row justify-content-center">
          <div class = "row">
            <!-- <div class = "col-xl-4 col-lg-6 col-sm-12"
            *ngIf = "ifHaveAction(verTodosLosParqueosDashboard)" >
              <div class = "mb-4 relative" >
                <label class = "labelInput"

                       style = "display:block" >Parqueo</label >
                <select
                  #inputParkingCortesiasDia
                  name="inputParkingCortesiasDia"
                  class = "inputClass"
                  formControlName = "inputParkingCortesiasDia" >
                  <option value="0">---- Todos los parqueos ----</option>
                  <option *ngFor = "let parking of this.allParking"
                          value = "{{parking.id}}" >{{parking.name}}</option >
                </select >
              </div >
            </div > -->
            <div class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative ">
                <label class = "labelInput"
                       style = "display:block">Fecha</label>
                <input #inputFechaCortesiasEstacionariasDia
                       class = "form-control inputClass datetimepicker "
                       formControlName = "inputFechaCortesiasEstacionariasDia"
                       max = "{{nowDateTime | date: 'yyyy-MM-dd'}}"
                       name = "inputFechaCortesiasEstacionariasDia"
                       placeholder = "Fecha/Hora"
                       type = "date"
                       value = {{fechaCortesiasEstacionariasDia}}>
              </div>
            </div>
            <div class = "col-xl-12 col-lg-12 col-sm-12">
              <div class = "text-center">
                <button (click) = "searchDia(cortesiasEstacionarias)"
                        class = "btn btn-primary m-2"><span><em
                  class = "fas fa-search"></em></span> Buscar
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "row content">
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasDia"
                      [parking] = "parqueoCortesiasEstacionariasDia"
                      [periodo] = "periodoDia"
                      [titulo] = "'Total de c. estacionarias por día'"
                      [valorMostrar] = "'TotalCortesiasEstacionarias'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasDia"
                      [parking] = "parqueoCortesiasEstacionariasDia"
                      [periodo] = "periodoDia"
                      [titulo] = "'Locales con c. estacionarias por día'"
                      [valorMostrar] = "'TotalEstacionariasLocales'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasDia"
                      [parking] = "parqueoCortesiasEstacionariasDia"
                      [periodo] = "periodoDia"
                      [titulo] = "'Local con más c. estacionarias por día'"
                      [valorMostrar] = "'LocalMasCortesiasEstacionarias'"></app-card-kpi>
      </div>
    </div>
    <app-courtesy-chart [company] = "'0'"
                        [fecha] = "fechaCortesiasEstacionariasDia"
                        [parking] = "parqueoCortesiasEstacionariasDia"
                        [periodo] = "periodoDia"
                        [tipo] = "cortesiasEstacionarias">
    </app-courtesy-chart>
    <app-bar-chart [fecha] = "fechaCortesiasEstacionariasDia"
                   [parking] = "parqueoCortesiasEstacionariasDia"
                   [periodo] = "periodoDia"
                   [tipoChart] = "tipoCortesiasEstacionarias"
                   [tipo] = "cortesiasEstacionarias">
    </app-bar-chart>
  </div>
  <div id = "mes">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class = "panelsWithOutMinHeight ">
        <div class = "titleCards">
          <span><em class = "fas fa-chart-bar"></em></span> Filtros
        </div>
        <div class = "row justify-content-center">
          <div class = "row">
            <div *ngIf = "ifHaveAction(verTodosLosParqueosDashboard)"
                 class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Parqueo</label>
                <select #inputParkingCortesiasMes
                        class = "inputClass"
                        formControlName = "parking">
                  <option value = "0">---- Todos los parqueos ----</option>
                  <option *ngFor = "let parking of this.allParking"
                          value = "{{parking.id}}">{{parking.name}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Año</label>
                <select #inputCortesiasEstacionariasMesAnio
                        class = "inputClass"
                        ngControl = "inputCortesiasEstacionariasMesAnio"
                        ngModel = "inputCortesiasEstacionariasMesAnio">
                  <option *ngFor = "let opt of AniosSelect"
                          [selected] = "opt.key == AnioActual"
                          [value] = "opt.key">
                    {{opt.valor}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Mes</label>
                <select #inputCortesiasEstacionariasMes
                        class = "inputClass"
                        ngControl = "inputCortesiasEstacionariasMes"
                        ngModel = "inputCortesiasEstacionariasMes">
                  <option *ngFor = "let opt of monthFiltered"
                          [selected] = "opt.key == MesActual"
                          [value] = "opt.key">
                    {{opt.valor}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-12 col-lg-12 col-sm-12">
              <div class = "text-center">
                <button (click) = "searchMes(cortesiasEstacionarias)"
                        class = "btn btn-primary m-2"><span><em
                  class = "fas fa-search"></em></span> Buscar
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "row content">
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasMes"
                      [parking] = "parqueoCortesiasEstacionariasMes"
                      [periodo] = "periodoMes"
                      [titulo] = "'Total de c. estacionarias por mes'"
                      [valorMostrar] = "'TotalCortesiasEstacionarias'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasMes"
                      [parking] = "parqueoCortesiasEstacionariasMes"
                      [periodo] = "periodoMes"
                      [titulo] = "'Locales con c. estacionarias por mes'"
                      [valorMostrar] = "'TotalEstacionariasLocales'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasMes"
                      [parking] = "parqueoCortesiasEstacionariasMes"
                      [periodo] = "periodoMes"
                      [titulo] = "'Local con más c. estacionarias por mes'"
                      [valorMostrar] = "'LocalMasCortesiasEstacionarias'"></app-card-kpi>
      </div>
    </div>
    <app-courtesy-chart [company] = "'0'"
                        [fecha] = "fechaCortesiasEstacionariasMes"
                        [parking] = "parqueoCortesiasEstacionariasMes"
                        [periodo] = "periodoMes"
                        [tipo] = "cortesiasEstacionarias">
    </app-courtesy-chart>
    <app-bar-chart [fecha] = "fechaCortesiasEstacionariasMes"
                   [parking] = "parqueoCortesiasEstacionariasMes"
                   [periodo] = "periodoMes"
                   [tipoChart] = "tipoCortesiasEstacionarias"
                   [tipo] = "cortesiasEstacionarias">
    </app-bar-chart>
  </div>
  <div id = "anio">
    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class = "panelsWithOutMinHeight ">
        <div class = "titleCards">
          <span><em class = "fas fa-chart-bar"></em></span> Filtros
        </div>
        <div class = "row justify-content-center">
          <div class = "row">
            <!-- <div class = "col-xl-4 col-lg-6 col-sm-12"
            *ngIf = "ifHaveAction(verTodosLosParqueosDashboard)" >
              <div class = "mb-4 relative" >
                <label class = "labelInput"

                       style = "display:block" >Parqueo</label >
                <select
                  #inputParkingCortesiasAnio
                  class = "inputClass"
                  formControlName = "parking" >
                  <option value="0">---- Todos los parqueos ----</option>
                  <option *ngFor = "let parking of this.allParking"
                          value = "{{parking.id}}" >{{parking.name}}</option >
                </select >
              </div >
            </div > -->
            <div class = "col-xl-4 col-lg-6 col-sm-12">
              <div class = "mb-4 relative">
                <label class = "labelInput"
                       style = "display:block">Año</label>
                <select #inputCortesiasEstacionariasAnio
                        class = "inputClass"
                        formControlName = "inputCortesiasEstacionariasAnio">
                  <option *ngFor = "let opt of AniosSelect"
                          [selected] = "opt.key == AnioActual"
                          [value] = "opt.key">
                    {{opt.valor}}</option>
                </select>
              </div>
            </div>
            <div class = "col-xl-12 col-lg-12 col-sm-12">
              <div class = "text-center">
                <button (click) = "searchAnio(cortesiasEstacionarias)"
                        class = "btn btn-primary m-2"><span><em
                  class = "fas fa-search"></em></span> Buscar
                </button>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class = "row content">
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasAnio"
                      [parking] = "parqueoCortesiasEstacionariasAnio"
                      [periodo] = "periodoAnio"
                      [titulo] = "'Total de c. estacionarias por año'"
                      [valorMostrar] = "'TotalCortesiasEstacionarias'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasAnio"
                      [parking] = "parqueoCortesiasEstacionariasAnio"
                      [periodo] = "periodoAnio"
                      [titulo] = "'Locales con c. estacionarias por año'"
                      [valorMostrar] = "'TotalEstacionariasLocales'"></app-card-kpi>
      </div>
      <div class = "col-lg-4">
        <app-card-kpi [fecha] = "fechaCortesiasEstacionariasAnio"
                      [parking] = "parqueoCortesiasEstacionariasAnio"
                      [periodo] = "periodoAnio"
                      [titulo] = "'Local con más c. estacionarias por año'"
                      [valorMostrar] = "'LocalMasCortesiasEstacionarias'"></app-card-kpi>
      </div>
    </div>
    <app-courtesy-chart [company] = "'0'"
                        [fecha] = "fechaCortesiasEstacionariasAnio"
                        [parking] = "parqueoCortesiasEstacionariasAnio"
                        [periodo] = "periodoAnio"
                        [tipo] = "cortesiasEstacionarias">
    </app-courtesy-chart>
    <app-bar-chart [fecha] = "fechaCortesiasEstacionariasAnio"
                   [parking] = "parqueoCortesiasEstacionariasAnio"
                   [periodo] = "periodoAnio"
                   [tipoChart] = "tipoCortesiasEstacionarias"
                   [tipo] = "cortesiasEstacionarias">
    </app-bar-chart>
  </div>
</div>
