.typeIssue{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 15px;
  border-radius: 50%;
  right: 0;
  margin-bottom: -3px;
  top: 0;
}
.lowstatus{
  background: rgb(74, 226, 137);
}
.highstatus{
  background: rgb(226, 74, 74);
}
