<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 panelLeft animate__animated animate__fadeInLeft">
  <div class = "panelsWithOutMinHeight">
    <div class = "titleCards">
      <span><i class = "fas fa-sitemap"></i></span> Bitácora
    </div>
    <div class = "row justify-content-center">
      <div class = "col-xl-2 col-lg-6 col-sm-12">
        <div class = "mb-4 relative">
          <label class = "text-secondary"
                 style = "display:block">Fecha de inicio</label>
          <input #initDate
                 [value] = "fechaActual"
                 (change) = "getIssues(initDate.value,endDate.value, telephone.value)"
                 class = "form-control inputClass datetimepicker"
                 for = "initDate"
                 max = "{{nowDateTime | date: 'yyyy-MM-dd'}}"
                 name = "initDate"
                 placeholder = "Fecha/Hora de entrada"
                 type = "Date"
          >
        </div>
      </div>
      <div class = "col-xl-2 col-lg-6 col-sm-12">
        <div class = "mb-4 relative">
          <label class = "text-secondary"
                 style = "display:block">Fecha de fin</label>
          <input
            #endDate
            (change) = "getIssues(initDate.value,endDate.value, telephone.value)"
            [value] = "fechaActual"
            class = "form-control inputClass datetimepicker"
            for = "endDate"
            max = "{{nowDateTime | date: 'yyyy-MM-dd'}}"
            name = "endDate"
            placeholder = "Fecha/Hora de salida"
            type = "date"
          >
        </div>
      </div>
      <div class = "col-xl-2 col-lg-6 col-sm-12">
        <div class = "mb-4 relative">
          <label class = "text-secondary"
                 style = "display:block">Teléfono</label>
          <input
            #telephone
            (change) = "getIssues(initDate.value,endDate.value, telephone.value)"
            class = "form-control inputClass datetimepicker"
            maxlength = "12"
            name = "telephone"
            placeholder = "Teléfono"
            type = "text"
            value = ""
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "panels animate__animated animate__fadeInLeft">
  <div class = "titleCards">
    <span><em class = "fas fa-users"></em></span> Filtro de Bitácora
  </div>

  <table [dtOptions] = "dtOptions"
         [dtTrigger] = "dtTrigger"
         aria-label = "Log de incidencias"
         class = "table table-striped"
         datatable>
    <thead>
    <tr>
      <th scope = "col">Nombre</th>
      <th scope = "col">Teléfono</th>
      <th scope = "col">Mensaje</th>
      <th scope = "col">Modelo del Teléfono</th>
      <th scope = "col">Fecha</th>
      <th scope = "col">Nivel</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let issue of issues"
        class = "animate__animated animate__fadeIn">
      <td>{{issue.name}}</td>
      <td>{{issue.phone_number}}</td>
      <td>{{issue.message}}</td>
      <td> {{issue.userDevice}}</td>
      <td> {{issue.created_at}}</td>
      <td style='position: relative'> <div style='display: inline-block'>{{issue.level}}</div> <div [ngClass]= "issue.level < 4 ? 'typeIssue lowstatus' : 'typeIssue highstatus'"></div></td>
    </tr>
    </tbody>
  </table>



</div>
