<div class = "bglogin" ></div >
<div class = "login-form animate__animated animate__fadeIn" >
  <form [formGroup] = "recoveryPasswordForm" >
    <div class = "logo" >
      <img alt = ""
           src = "assets/img/logo.png" />
    </div >
    <div *ngIf = "step==1"
         class = "animate__animated animate__bounceIn"
         id = "getEmail" >
      <div class = "form-group" >
        <input
          [class.is-invalid] = "controlInvalid('email')"
          class = "form-control "
          formControlName = "email"
          name = "email"
          placeholder = "Ingresar el correo vinculado"
          required = "required"
          type = "email" >

      </div >

      <button
        (click) = "changeStep(1)"
        class = "btn btn-primary btn-block login"
        type = "button" >
        Siguiente
      </button >
    </div >
    <div *ngIf = "step==2"
         class = "animate__animated animate__bounceIn"
         id = "getConfirmationCode" >
      <div class = "form-group" >
        <input [class.is-invalid] = "controlInvalid('validate_code')"
               class = "form-control"
               formControlName = "validate_code"
               name = "confirmCode"
               placeholder = "Ingrese el código"
               required = "required"
               type = "text" >
      </div >
      <button
        (click) = "changeStep(2)"
        class = "btn btn-primary btn-block login"
        type = "button" >
        Siguiente
      </button >
      <div class = "alert alert-primary d-flex align-items-center"
           role = "alert" >
        <svg aria-label = "Info:"
             class = "bi flex-shrink-0 me-2"
             height = "24"
             role = "img"
             width = "24" >
          <use xlink:href = "#info-fill" />
        </svg >
        <div >
          Escriba el código recibido en su correo electrónico, en la dirección <strong >{{email}}</strong >
          <hr >
          <div class = "text-center" >
            <a (click) = "step=1"
               class = "alert-link"
               href = "#" >Este no es mi correo</a >
          </div >
        </div >
      </div >
    </div >
    <div *ngIf = "step==3"
         class = "animate__animated animate__bounceIn"
         id = "newPassword" >
      <div class = "form-group" >
        <input
          [class.is-invalid] = "controlInvalid('newPassword')"
          class = "form-control "
          formControlName = "newPassword"
          name = "newPassword"
          placeholder = "Ingresar la nueva contraseña"
          required = "required"
          type = "password" >
      </div >
      <div class = "form-group" >
        <input
          [class.is-invalid] = "controlInvalid('newPasswordConfirmation')"
          class = "form-control "
          formControlName = "newPasswordConfirmation"
          name = "confirmPassword"
          placeholder = "Confirma la nueva contraseña"
          required = "required"
          type = "password" >
      </div >
      <button
        (click) = "recoveryPassword()"
        class = "btn btn-primary btn-block login" >
        Recuperar contraseña
      </button >
    </div >
  </form >
</div >
<!--
<div class = "form-group" >
      <input class = "form-control"

             placeholder = "Contraseña"
             required = "required"
             type = "password" >
    </div >
-->
<svg style = "display: none;"
     xmlns = "http://www.w3.org/2000/svg" >
  <symbol fill = "currentColor"
          id = "info-fill"
          viewBox = "0 0 16 16" >
    <path d = "M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
  </symbol >
</svg >
