<div *ngIf="timeRange == 1 || timeRange == 2" class="animate__animated animate__fadeInLeft"
     id="principalSchedule">
  <div class="titleCards">
    <hr>
    <span><em class="far fa-clock"></em></span> Horario principal
  </div>
  <!--Horarios globales-->
  <form [formGroup]="holidayForm" action="">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="mb-3">

          <label class="text-secondary" style="display: block;">Desde</label>
          <input [class.is-invalid]="validateHolidayForm('from')" [readOnly]="disableRanges"
                 aria-describedby="basic-addon1" class="inputClass" formControlName="from"
                 type="time">
          <small *ngIf="validateHolidayForm('from')" class="text-danger animate__animated  animate__rotateIn">*
            Este
            campo es obligatorio</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label class="text-secondary" style="display: block;">Hasta</label>
          <input [class.is-invalid]="validateHolidayForm('to')" [readOnly]="disableRanges"
                 aria-describedby="basic-addon1" class="inputClass" formControlName="to" type="time">
          <small *ngIf="validateHolidayForm('to')" class="text-danger animate__animated  animate__rotateIn">*
            Este
            campo es obligatorio</small>
        </div>
      </div>
    </div>
  </form>
</div>
