<div
  class = 'animate__animated animate__fadeInLeft'
  id = 'principalSchedule'>
  <div class = 'titleCards'>
    <hr>
    <span><em class = 'far fa-clock'></em></span> Horario global
  </div>
  <!--Horarios globales-->
  <form
    [formGroup] = 'holidayForm'
    action = ''>
    <div class = 'row justify-content-center'>
      <div class = 'col-md-5'>
        <app-input-container
          [formGroup] = 'holidayForm'
          controlName = 'from'
          name = 'Desde'
          type = 'time'>
        </app-input-container>
      </div>
      <div class="col-md-5">
        <app-input-container [formGroup]="holidayForm" controlName="to" name="Hasta" type="time">
        </app-input-container>
      </div>
    </div>
  </form>
  <hr>
</div>
