<div class = "panels animate__animated animate__fadeInLeft" >
  <div class = "titleCards" >
    <span ><i class = "fas fa-users" ></i ></span > Usuarios registrados
  </div >

  <table datatable
         [dtOptions] = "dtOptions"
         [dtTrigger] = "dtTrigger"
         class = "table table-striped" >
    <!-- row-border  hover table-striped-->
    <thead >
    <tr >
      <th scope = "col" >Nombre
      </th >
      <th scope = "col" >Email</th >
      <th scope = "col text-center"
          style = "width: 21%"
      >Acciones
      </th >
    </tr >
    </thead >
    <tbody >
    <tr *ngFor = "let user of users"
        class = "animate__animated animate__fadeIn" >
      <td >{{user.name + ' ' + user.last_name}}</td >
      <td >{{user.email}}</td >
      <td class = "" >
        <button (click) = "editUser(user)"
                class = "buttonRowEdit me-1"
                title = "Editar" ><i class = "fas fa-user-edit" ></i >
        </button >
        <button (click) = "deleteUser(user)"
                class = "buttonRowDelete" ><i class = "fas fa-user-times" ></i >
        </button >
      </td >
    </tr >
    </tbody >
  </table >
</div >
