<div class = "nmenu"
     id = "clmenu"
     onclick = "closeMenu()"></div>
<div class = "panelLeft animate__animated animate__fadeInLeft"
     id = "menu">
  <div class = "logo">
    <img alt = "logo ebiGo"
         src = "assets/img/logo.png">
  </div>
  <div class = "menu">
    <div class = "titleNav">Menú</div>
    <ul class = "nav flex-column">
      <li
        *ngFor = "let option of menu"
        class = "nav-item optionLeftMenu"
        routerLinkActive = "active">
        <a class = "nav-link"
           *ngIf = "ifHaveModule(option.module)"
           routerLink = "{{option.path}}">
          <span><em class = "fas {{option.icon}}"></em></span>
          {{option.description}}</a>
      </li>
    </ul>
  </div>
</div>
