.panelLeft {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 280px;
  background: #fff;
  border-right: 1px solid #e9e9e9;
}

.logo {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 75px;
  padding: 18px 15px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
}

.nMenu {
  display: none;
  transition: 1.5s;
  opacity: 0;
}

.logo img {
  height: 100%;
  margin: auto;
}

.menu {
  padding: 15px;
  color: #d9d9d9;
}

.menu ul > li > a span {
  color: #415ba1;
  font-weight: 600;
  padding: 0 16px;
  font-size: 18px;
}

.menu ul > li a {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 10px;
}
.menu ul > li a:hover {
  color: #fff;
}

.menu ul > li.active {
  background: #415ba1;
  color: #fff;
  border-radius: 8px;
}
.menu ul > li:hover {
  color: #fff;
  background: #04ccae;
  border: 1px solid #04ccae;
  border-radius: 8px;
  -webkit-transform:scale(1.10);
  -moz-transform:scale(1.10);
  -ms-transform:scale(1.10);
  -o-transform:scale(1.10);
  transform:scale(1.10);
  -webkit-transition:all .5s ease; /* Safari y Chrome */
  -moz-transition:all .5s ease; /* Firefox */
  -o-transition:all .5s ease; /* IE 9 */
  -ms-transition:all .5s ease; /* Opera */
  width:100%;
}
.menu ul > li.active a, .menu ul > li.active a span {
  color: #fff
}

@media (max-width: 480px) {
  .panelLeft {
    display: block;
    z-index: 2;
    box-shadow: 10px 0px 10px rgb(0 0 0 / 9%);
    left: -100%;
    transition-timing-function: ease-out;
    transition: left 0.5s;
  }
}
