<div class = "row" >
  <div class = "col-lg-3 col-md-4 col-sm-6" >
    <div class = "cardMenu"
         onclick = "location.href='admin/nsmenu'" >
      <div class = "cardMenuIcon" >
        <i class = "fas fa-sitemap" ></i >
      </div >
      <div class = "cardMenuTitle" >
        Nuevo Sub-Menu
      </div >
    </div >
  </div >

  <div class = "col-lg-3 col-md-4 col-sm-6" >
    <div class = "cardMenu"
         onclick = "location.href='admin/nsmenu'" >
      <div class = "cardMenuIcon" >
        <i class = "fas fa-sitemap" ></i >
      </div >
      <div class = "cardMenuTitle" >
        Nuevo Sub-Menu
      </div >
    </div >
  </div >
  <div class = "col-lg-3 col-md-4 col-sm-6" >
    <div class = "cardMenu"
         onclick = "location.href='admin/nsmenu'" >
      <div class = "cardMenuIcon" >
        <i class = "fas fa-sitemap" ></i >
      </div >
      <div class = "cardMenuTitle" >
        Nuevo Sub-Menu
      </div >
    </div >
  </div >
  <div class = "col-lg-3 col-md-4 col-sm-6" >
    <div class = "cardMenu"
         onclick = "location.href='admin/nsmenu'" >
      <div class = "cardMenuIcon" >
        <i class = "fas fa-sitemap" ></i >
      </div >
      <div class = "cardMenuTitle" >
        Nuevo Sub-Menu
      </div >
    </div >
  </div >

</div >
