<div class="row justify-content-center animate__animated animate__fadeInLeft">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panels ">
      <div class="titleCards">
        <span><i class="fas fa-sitemap"></i></span> Cortesias
      </div>
      <div class="row justify-content-center">

        <div class="col-xl-4 col-lg-6  col-sm-12">
          <div class="mb-4 relative">
            <label class="labelInput">Nombre</label>
            <input class="form-control inputClass" placeholder="NOMBRE:" type="text">
          </div>
        </div>

        <div class="col-xl-4 col-lg-6  col-sm-12">
          <div class="mb-4 relative">
            <label class="labelInput">Tipo de cortesia</label>
            <select class="inputClass" id="" name="">
              <option value="">TIPO DE CORTESIA</option>
              <option value="">Tarifa especial</option>
              <option value="">Descuentos</option>
              <option value="">Cortesias</option>
            </select>
          </div>
        </div>


        <div class="col-xl-12 col-lg-12 col-sm-12">
          <div class="text-center">
            <button class="btn btn-primary " onclick="location.href='#'">Guardar</button>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panels">

      <div class="row">
        <div class="col-lg-12">
          <table class="table animate__animated animate__fadeInLeft ">
            <thead>
            <tr>
              <th scope="col" style="width: 4%">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo cortesia</th>
              <th scope="col">Cantidad</th>
              <th scope="col" style="width: 4%"><i class="fas fa-file-pdf"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
